@charset "utf-8";
/* Basic */
html,body,ul,li,h1,h2,h3,h4,h5,h6,blockquote,object,img,em,form,label{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 110%;
	color:#272727;
	line-height:2em;
    background-color: #f7f7f7;
	text-align:left;
}
p, ul,li{text-align: justify;text-justify:inter-ideograph;}
a{ color:#663300;}

img{border:none;}

#wrapper{width:320px;margin-right: auto;margin-left: auto; background-color:#FFFFFF; border:#CCCCCC solid 1px; background: url(../images/bg.jpg) repeat-y;}
.content{ padding:10px; background: url(../images/contentBg.jpg) no-repeat top;}

/* Main Content */
.space{	clear: both;}
.bottomMenu{ list-style:none;}
.bottomMenu li{ float:left; display:block; margin:2px; padding:5px 5px 5px 10px; width:81px; height:29px; background: url(../images/bottomBg.jpg) top no-repeat;}
.bottomMenu li a{ color:#FFFFFF;}

/* style */
.red {
	font-size: 15px;
	line-height: 1.8;
	font-weight: bold;
	color: #FF0000;
}
.green {
	color: #006600;
	font-size: 13px;
	line-height: 1.5;
}
.blue{font-weight:bold ;color: #0000FF;}
.coffie {
	font-size: 18px;
	font-weight: bold;
	color: #B75904;
}

/* Footer */
#footer{clear: both;text-align:center; padding:10px 0; color:#fff;background: url(../images/footer.jpg) no-repeat; height:79px;}
#footer a{ color:#FFFFFF;}

input,textarea{font-size: 110%;}