/****** Margin definitions *****/

/* margin-top */
.mt40   {margin-top:40px !important;}
.mt30   {margin-top:30px !important;}
.mt20   {margin-top:20px !important;}
.mt15   {margin-top:15px !important;}
.mt8    {margin-top:8px !important;}
.mt4    {margin-top:4px !important;}
.mt0    {margin-top:0px !important;}

/* margin-bottom */
.mb30   {margin-bottom:30px !important;}
.mb20   {margin-bottom:20px !important;}
.mb15   {margin-bottom:15px !important;}
.mb8    {margin-bottom:8px !important;}
.mb4    {margin-bottom:4px !important;}

/* margin-right */
.mr30   {margin-right:30px !important;}
.mr15   {margin-right:15px !important;}
.mr8    {margin-right:8px !important;}
.mr4    {margin-right:4px !important;}

/* margin-left */
.ml50   {margin-left:50px !important;}
.ml40   {margin-left:40px !important;}
.ml30   {margin-left:30px !important;}
.ml20   {margin-left:20px !important;} 
.ml15   {margin-left:15px !important;}
.ml8    {margin-left:8px !important;}
.ml4    {margin-left:4px !important;}

/****** Padding definitions *****/

.pt2    {padding-top:2px !important;}
.pt4    {padding-top:4px !important;}
.pt8    {padding-top:8px !important;}  
.pb8    {padding-bottom:8px !important;}
.pb0    {padding-bottom:0px !important;}
.pb15    {padding-bottom:15px !important;}

/****** Line-height definitions *****/
.lh18    {line-height:18px !important;}
.lh20    {line-height:20px !important;}  

/****** Font-size definitions ******/
.f14    {font-size:14px !important;} 
.f13    {font-size:13px !important;}
.f12    {font-size:12px !important;}
.f11    {font-size:11px !important;}

/* Font-style and alignment definitons */

.bold   {font-weight:bold;}
.italic {font-style:italic;}
.clear  {clear: both !important;}

.aright {text-align:right;}
.aleft  {text-align:left;}
.acenter{text-align:center;}
 
.fleft {float:left !important;}
.fright {float:right !important;}
.dblock {display:block;}

/****** extra definitions *****/

.rounded-corners {-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;}
.rounded-corners5 {-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}

.w100 {width:100%;}
.wpx300 {width:300px;}