
body {
  font-size: 12px;
}

.wrap-footer,
#container {
  margin: 10px;
  width: 300px;
  min-width: 300px;
}

.wrap-footer {
  margin: 0 auto;
}

.wrap-footer .left,
.wrap-footer .right {
  float: none;
  display: block;
}

.wrap-header article,
.row article {
  width: 280px;
  padding: 10px 0;
}

.wrap-header h1 {
  margin: 0 0 2px;
}

.wrap-ribbons {
  margin: 0;
  float: right;
}

.ribbon, .ribbon2, .ribbon3 {
  background: #3A954D;
  height: auto;
  padding: 2px 4px 2px;
  clear: right;
  margin: 0 0 4px;
}

.ribbon2 {
  background: #0893B3;
}

.ribbon3 {
  background: #DB7229;
}

.ribbon em, .ribbon2 em, .ribbon3 em {
  font-size: 1em;
  font-family: inherit;
  display: inline;
}

.wrap-title {
  padding: 25px 0;
}

.social-services {
  display: none;
}

/* disabled elements */

.skills br,
.zoom-dim,
.play-dim,
#container:after,
#container:before {
  display: none !important;
}

.portfolio h2, .section-title {
  margin: 0 0 10px 0;
}

.row p {
  margin: 5px 0;
}

.column {
  width: auto;
  padding: 0 0 20px 40px;
  float: none;
  margin-right: 0;
}

.column-no-logo {
  padding-left: 0;
}

.column .logo {
  width: 30px;
}

.column .logo img {
  max-width: 100%;
}

.portfolio {
  margin: 0 0 20px 0;
}

.portfolio li {
  float: none;
  width: auto;
  margin: 0 0 10px 0;
}

.portfolio li .border {
  border-width: 5px;
}

.portfolio li .mask {
  position: static;
}

.portfolio * {
  -webkit-transform: none !important;
  -webkit-transition: none !important;
  opacity: 1 !important;
}

.portfolio li .view {
  margin: 5px 0 10px;
}

.portfolio li h2 {
  margin: 10px 0;
}

textarea,
input[type="text"],
.input-text,
.input-submit,
input[type="submit"] {
  border-radius: 0;
}

.skills {
  font-size: 9px;
  width: auto;
  text-align: left;
}

.skills p {
  padding: 17px 0 6px 0;
  position: relative;
}

.skills .caption {
  top: 0;
  padding: 0 0 2px;
  width: 100% !important;
  text-align: left;
}

.row-profile .info {
  float: none;
}

.profile-pic {
  float: none;
  margin: 10px 0;
  padding: 5px;
}

.profile-pic img {
  max-width: 100%;
}

.icons {
  margin: 0;
}

#container .row-icon article {
  padding: 10px 0 0 0;
}

.icons li {
  text-align: center;
  padding: 0 0 10px 0;
}

.icons a {
  width: 40px;
  padding: 0;
  display: inline-block;
}

.icons a img {
  margin: -3px 0 0 -24px;
}

.wrap-header .wrap-links {
  clear: both;
  position: static;
  float: left;
  margin: 10px 0 -5px 0;
  text-align: left;
}

.wrap-header .wrap-links > * {
  display: none;
}

.wrap-header .wrap-links .links {
  text-align: left;
  display: block;
}

.wrap-header .wrap-links .links a {
  padding: 0 5px 0 0;
}

.fb-like {
  clear: both;
}


/*@media only screen and (min-width : 321px) {

  #container {
    margin: 10px;
    width: 460px;
    min-width: 460px;
  }

  .wrap-footer {
    width: 460px;
    min-width: 460px;
    margin: 0 auto;
  }

  .wrap-header article,
  .row article {
    width: 440px;
    padding: 10px 0;
  }

}

*/