/*

  Styles for screens lower than 768px in width (iPad, resized windows, etc.)

*/

@media only screen and (max-width: 768px) {

  .wrap-footer, #container {
    min-width: 94%;
    width: 94%;
    margin: 2.4% auto;
  }

  .wrap-footer .fl,
  .wrap-footer .fr {
    float: none;
    display: block;
    text-align: left;
    padding: 0 3px;
    margin: 0;
  }

  .wrap-footer .fl {
    padding-bottom: 5px;
  }

  .wrap-header article,
  .row article {
    width: 80%;
  }

  .column {
    width: 90%;
    padding: 0 0 3.125em 60px;
    float: none;
  }

  .column:last-child {
    padding-bottom: 0;
  }

  .column .logo {
    width: 40px;
  }

  .column .logo img {
    max-width: 100%;
  }

  .portfolio {
    margin: 0 0 3.125em 0;
    width: 100%;
  }

  .portfolio li {
    width: auto;
    margin: 0 0 3.125em 0;
  }

  .portfolio li .border {
    border-width: 5px;
  }

  .portfolio li:last-child {
    margin-bottom: 0;
  }

  .wrap-header .social-services {
    clear: both;
    position: static;
    float: left;
    margin: 15px 0 -20px 0;
    width: auto;
  }

  .wrap-header .social-services > * {
    float: left;
  }

  .wrap-header article p {
    clear: left;
  }

  .skills {
    width: auto;
    text-align: left;
  }

  #container:before,
  #container:after,
  .skills br {
    display: none;
  }

  .skills p {
    padding: 20px 0 10px 0;
    position: relative;
    text-align: left;
  }

  .skills .caption {
    top: -10px;
    padding: 0;
    width: 100% !important;
    text-align: left;
  }

  .row-profile .info {
    float: none;
  }

  .profile-pic {
    clear: both;
    float: left;
    margin: 3.125em 0 0 0;
    padding: 10px;
  }

  .profile-pic img {
    max-width: 100%;
  }

  .icons {
    margin: 0;
  }

  .icons li {
    width: 20%;
    padding: 1em 0 0 0;
  }

  .icons a {
    padding: 0;
    text-indent: -9999px;
  }

  .icons a img {
    left: 50%;
    margin: 0 0 0 -24px;
  }

  .row-icon article {
    padding: 0 0 1em;
  }

  .markup p {
    line-height: 1.5625em;
  }

}

@media only screen and (max-width: 480px) {

  .wrap-ribbons {
    float: left;
    padding-left: 0;
    clear: left;
  }

}
