
/*-----------------------------------------------------------------------------
    0. RESET
-----------------------------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; line-height: 1; text-rendering: optimizelegibility; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #111; }
a:hover span,
a:hover { color: #000; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*-----------------------------------------------------------------------------
    1. GLOBAL STYLE
-----------------------------------------------------------------------------*/

body {
  font: normal 100% georgia, serif;
  color: #111;
  background: #ccc;
}

del {
  text-decoration: line-through;
  color: #ccc;
}

textarea,
input[type="text"],
.input-text {
  border: 1px solid #ccc;
  padding: 6px 6px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.input-submit,
input[type="submit"] {
  display: inline-block;
  padding: 0.4em 0.6em 0.3em 0.6em;
  font-size: 12px;
  border: 1px solid #999;
  border-bottom-color: #888;
  white-space: nowrap;
  cursor: pointer;
  color: #333;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
  background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
  background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
  background-image: linear-gradient(#f5f6f6, #e4e4e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3');
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
}

textarea:hover,
textarea:focus,
.input-text:hover, input[type="text"]:hover,
.input-text:focus, input[type="text"]:focus,
.input-submit:hover, input[type="submit"]:hover,
.input-submit:focus, input[type="submit"]:focus {
  border-color: #777 #777 #666;
}

/*-----------------------------------------------------------------------------
    2. LAYOUT
-----------------------------------------------------------------------------*/

.wrap-footer,
#container {
  min-width: 960px;
  width: 960px;
  margin: 25px auto;
  background: #fff;
}

.wrap-header article,
.row article {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 3.125em 0;
  zoom: 1;
}

.row article > :last-child {
  margin-bottom: 0;
}

.wrap-header article {
  overflow: visible;
}

.wrap-footer {
  font-size: 11px;
  line-height: 16px;
  color: #999;
  padding: 0 0 10px 0;
  margin-top: -20px;
  margin-bottom: 25px;
  background: none;
  overflow: hidden;
  zoom: 1;
  letter-spacing: 0.04em;
}

.wrap-footer .fl {
  margin-left: 2px;
}

.wrap-footer .fr {
  text-align: right;
  margin-right: 2px;
}

.wrap-header article p,
.row p {
  clear: both;
}

.column {
  width: 37%;
  margin: 0 3% 0 0;
  padding: 0 0 0 90px;
  float: left;
  position: relative;
}

.oldie .column {
  width: 36%;
  margin: 0 10px 0 0;
}

.column-no-logo {
  padding-left: 0;
  width: 47%;
  margin-right: 6%;
}

.column-no-logo a.logo {
  display: none;
}

.column-row {
  clear: both;
  margin: 40px 0 0;
  overflow: hidden;
  zoom: 1;
}

.column-row .column:last-child {
  margin-right: 0;
}

.fixed-layout #container,
.fixed-layout .wrap-footer {
  min-width: 960px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*-----------------------------------------------------------------------------
    3. HEADER
-----------------------------------------------------------------------------*/

.wrap-header h1 {
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1em;
  margin: 0 0 5px;
}

.wrap-header h1 span {
  font-size: 1.666666667em;
  padding: 0 0 0 5px;
  letter-spacing: -0.05em;
}

.wrap-header p {
  margin: 0;
  font-size: 1.125em;
  color: #666;
}

.wrap-title {
  float: left;
}

/* sharing tools & ribbons */

.wrap-ribbons {
  float: right;
  margin: -3.125em 0 0 0;
  padding: 0 0 10px 30px;
}

.social-services {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}

.wrap-ribbons > * {
  float: right;
  margin: -3px 4px 0 0;
}

.social-services {
  top: 102px;
  margin: 0 -1px 0 0;
}

.wrap-g-plusone,
.wrap-fb-like,
.twitter-share-button {
  float: right;
  height: 21px;
  margin: 0 3px 0 0;
}

.wrap-g-plusone {
  width: 70px;
}

.twitter-share-button {
  width: 80px !important;
  font-size: 0.75em;
}

.wrap-fb-like iframe {
  vertical-align: top !important;
  width: 88px !important;
  height: 21px !important;
  overflow: hidden;
}

/* ribbon styles */

.ribbon,
.ribbon2,
.ribbon3 {
  display: block;
  width: 79px;
  height: 75px;
  padding: 21px 0 0 0;
  background: url(../img/ribbon-4.png) no-repeat;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  border: 0 none;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.ribbon em,
.ribbon2 em,
.ribbon3 em {
  font-size: 19px;
  font-style: inherit;
  display: block;
}

.ribbon:hover {
  color: #8fec99 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.ribbon2 {
  padding-top: 17px;
  background-image: url(../img/ribbon-3.png);
}

.ribbon2:hover {
  color: #a8e6f5 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.ribbon3 {
  padding-top: 17px;
  background-image: url(../img/ribbon-5.png);
}

.ribbon3:hover {
  color: #f3c4a2 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------------------------------------
    3. CONTENT
-----------------------------------------------------------------------------*/

.section-title,
.portfolio h2 {
  margin: 0 0 2.2em;
  padding: 9px 18px 8px;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  float: left;
  font-weight: normal;
  font-size: 0.875em;
}

.smaller-text p {
  line-height: 1.5em;
  font-size: 0.875em;
}

.reference {
  font-size: 0.75em;
}

.reference a {
  font-size: 1.16em;
  color: inherit;
}

.column h3 {
  font-size: 1.3125em;
  font-weight: normal;
  color: #222;
  margin: 0;
}

.column .subtitle {
  font-size: 0.75em;
  color: #666;
  margin: 0 0 1.166666667em;
}

.column .subtitle a {
  color: #666;
}

.column .logo {
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  width: 78px;
  height: 90px;
  left: 0;
  top: 4px;
  border: 0 none;
}

/* style basic html elements */

.markup table th,
.markup table td {
  border: 1px solid #ccc;
  padding: 0.375em 0.75em;
  text-align: left;
}

.markup table thead th,
.markup table thead td {
  background: #f6f6f6;
}

.markup blockquote {
  margin: 1em 0;
  padding: 0.75em 40px;
  position: relative;
  font-style: italic;
}

.markup blockquote footer {
  font-style: italic;
  font-size: 0.8125em;
  opacity: 0.8;
  margin: 3px 0 0 0;
  color: #777;
  font-style: normal;
}

.markup blockquote:before {
  content:'“';
  font: bold 30px/100% georgia;
  color: #dcdcdc;
  position: absolute;
  margin-left: -20px;
}

.markup p {
  line-height: 1.6875em;
}

.markup li {
  margin-bottom: 0.3125em;
}

.markup h1, .markup h2, .markup h3, .markup h4, .markup h5, .markup h6 {
  font-weight: normal;
}

.markup :last-child {
  margin-bottom: 0;
}

/* portfolio section */

.portfolio {
  list-style: none;
  margin: 0 0 2.2em;
  padding: 0;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 102%;
}

.portfolio li {
  display: block;
  float: left;
  width: 31%;
  margin: 0 2% 2% 0;
  border: 1px solid #ddd;
  position: relative;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -o-box-shadow: 1px 1px 2px #e6e6e6;
  -ms-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  text-align: center;
  cursor: default;
  overflow: hidden;
  zoom: 1;
}

.portfolio li .border {
  border: 10px solid #fff;
  overflow: hidden;
}

.portfolio li:hover div {
  opacity: 1;
}

.portfolio img {
  width: 100%;
  height: auto;
}

.portfolio .play-dim,
.portfolio .zoom-dim,
.portfolio .mask {
  position: absolute;
  top: 0;
  left: 0;
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.9);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* IE 678 */
.oldie .portfolio .play-dim,
.oldie .portfolio .zoom-dim,
.oldie .portfolio .mask {
  display: none;
}

.portfolio .play-dim,
.portfolio .zoom-dim {
  background: url(../img/zoom.png) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.portfolio .play-dim {
  background-image: url(../img/play.png);
}

.portfolio p {
  padding: 0 1.3em;
  margin: 4% 0 0 0;
  font-size: 0.875em;
  color: #333;
  line-height: 1.6em;
}

.portfolio h2 {
  margin: 6% 0 0 0;
  float: none;
  display: block;
  position: relative;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.portfolio h2 a {
  font-weight: normal;
  text-decoration: none;
}

/* visit project link style */

.portfolio .view {
  display: inline-block;
  margin: 3% 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* skill pyriamid */

.skills {
  text-align: center;
  width: 80%;
  clear: both;
}

.skills p {
  font-size: 0.875em;
  line-height: 1.7em;
  width: 100%;
}

.skills .caption {
  font-weight: normal;
  position: absolute;
  display: block;
  border-bottom: 1px solid #ccc;
  right: 0;
  width: 77%;
  text-align: right;
  padding: 0 0 5px 0;
  font-style: italic;
  color: #666;
}

.skills .sep {
  font-size: 1px;
  width: 1px;
}

.skills .comma {
  display: none;
}

.responsive .skills .comma {
  display: inline;
}

.profile-pic {
  float: right;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  margin: -3.125em 0 0 0;
}

.profile-pic img {
  max-width: 25em;
  height: auto;
  width: 100%;
}

.row-profile .info {
  float: left;
}

/*information table*/

.info {
  clear: both;
}

.info th,
.info td {
  padding: 0.5em 1em;
  vertical-align: top;
}

.info th {
  width: 6em;
  font-weight: normal;
  color: #666;
  font-size: 0.875em;
  text-align: right;
}

.info td {
  font-size: 0.875em;
  width: 20em;
  text-align: left;
  color: #999;
}

.info td a {
  color: #999;
}

/* social icons */

.row-icon article {
  padding: 2em 0 0;
}

.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 1;
}

.icons li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 2em;
  width: 19.5%;
  height: 48px;
}

.icons a {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 0.75em;
  position: relative;
  padding: 17px 0 0 51px;
  border: 0 none;
}

.icons a img {
  position: absolute;
  left: 0;
  top: 0;
}

/*contact form*/

.row-contact {
  display: none; /* hidden by default, shown by Fancybox plugin */
}

.wrap-contact-form {
  clear: both;
}

.contact-form {
  padding: 10px 20px;
  clear: both;
}

.contact-form label {
  display: block;
  padding: 4px 0 0 0;
}

.input-error {
  color: #B94A48 !important;
  border-color: #EE5F5B !important;
  -moz-box-shadow: 0 0 6px #F8B9B7 !important;
  -webkit-box-shadow: 0 0 6px #F8B9B7 !important;
  -o-box-shadow: 0 0 6px #F8B9B7 !important;
  -ms-box-shadow: 0 0 6px #F8B9B7 !important;
  box-shadow: 0 0 6px #F8B9B7 !important;
}

.on-error {
  display: none;
  color: #B94A48;
}

.on-success {
  display: none;
  color: #468847;
}

.contact-form textarea,
.contact-form input[type="text"],
.contact-form .input-text{
  width: 90%;
}

.contact-form textarea {
  height: 100px;
}

.contact-form .field-row {
  margin: 0 0 0.6em;
}

.spam-protection {
  display: none;
}

.wrap-footer a {
  color: inherit;
  border-bottom-color: inherit;
}

/*-----------------------------------------------------------------------------
    5. MISCELLANEOUS
-----------------------------------------------------------------------------*/

/* effects */

a span,
a {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
}

.input-error {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

#container {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  position: relative
}

#container:after, #container:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 100%;
  max-width: 400px;
  height: 500px;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(2deg) rotate(1deg);
  -moz-transform: skew(2deg) rotate(1deg);
  -o-transform: skew(2deg) rotate(1deg);
  -ms-transform: skew(2deg) rotate(1deg);
  transform: skew(2deg) rotate(1deg)
}

#container:after {
  left: auto;
  right: 4px;
  -webkit-transform: skew(-2deg) rotate(-1deg);
  -moz-transform: skew(-2deg) rotate(-1deg);
  -o-transform: skew(-2deg) rotate(-1deg);
  -ms-transform: skew(-2deg) rotate(-1deg);
  transform: skew(-2deg) rotate(-1deg)
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.fl { float: left; }
.fr { float: right; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.wrap-header article:before, .wrap-header article:after,
.clearfix:before, .clearfix:after { content: ""; display: table; }
.wrap-header article:after,
.clearfix:after { clear: both; }
.wrap-header article,
.clearfix { zoom: 1; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* DEMO ONLY */

#resize {
  display: none;
  width: 90px;
  height: 90px;
  background: url(../img/demo/resize.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
}

@media only screen and (max-width: 768px) {
  #resize {
    -webkit-transform: translate(90px, 0) rotate(90deg);
    -moz-transform: translate(90px, 0) rotate(90deg);
    -o-transform: translate(90px, 0) rotate(90deg);
    -ms-transform: translate(90px, 0) rotate(90deg);
    transform: translate(90px, 0) rotate(90deg);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #resize {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  #resize {
    display: none;
  }
}