/*-------------------------------------------------------------------------*/
/* Color Specific
/*-------------------------------------------------------------------------*/
a,
a:hover,
h1,
h2, 
h3,
h4,
h5,
h6 header *,
dl dt.current,
.current-menu-item a,
.current-menu-parent a,
.current-menu-parent ul .current-menu-item a,
.current_page_parent a,
.current-menu-ancestor a,
.current-menu-ancestor .sub-menu .current-menu-ancestor a,
.current-menu-ancestor .sub-menu .current-menu-ancestor .sub-menu .current-menu-item a,
.pagination .current:link,
.pagination .current:visited,
.post-details a:link,
.post-details a:visited,
aside a:visited,
.postinfo a,
.comment-author,
.comment-text a,
.tt-icon span,
.tt-comment-count,
.sidebar .subnav .has_subnav .current_subpage a,
.sidebar .subnav .has_subnav .current_subpage a:hover,
.submenu .current,
.pagination .current:link,
.pagination .current:visited,
.meta a:link,
.wp-pagenavi .current,
.article_preview strong a,
.article_preview strong a:hover,
.sitemap-title,
.faq-content .faq-heading,
.faq-questions ol,
.callout-heading,
.member-contact-phone,
#home-marketing-icons strong,
.faq-questions a:hover,
.s-one ul li a,
.s-one .current-page-ancestor a,
.s-one .current-page-ancestor ul li a,
.home-vertical-sidebar .widget-heading,
.tt-icon strong
{color: #554191;}

header .subnav li:hover > a:first-child:link, .tabs_type_1 dt:hover, .tabs_type_2 dt:hover{
color: #554191 !important;
}

.post-thumb a:hover {
border: 1px solid #969CD2;
box-shadow: 0 0 4px rgba(84, 100, 171, 0.7);
}

.faq-questions a:hover,
.s-one ul li a,
.s-one .current-page-ancestor a,
.s-one .current-page-ancestor ul li a {
border-bottom:1px dotted #554191;
}


/*-------------------------------------------------------------------------*/
/* Navigation + Sidebar
/*-------------------------------------------------------------------------*/
.sidebar .subnav .current_subpage a,
.sidebar .subnav .current_subpage a:hover{
background: url(../images/skins/submenu-active-periwinkle.png) right top no-repeat;
margin-right: -12px;
}