/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
body {background:url(../images/bg_img.jpg) top center no-repeat #fff;border:0;font:13px Arial,Helvetica,sans-serif;color:#383838;line-height:20px}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);behavior:url(js/PIE.htc);position:relative}
.body1 {height:104px;background:url(../images/bg_bot.jpg) bottom center no-repeat}
/* Global Structure */
.main {margin:0 auto;width:880px}
.block {height:104px}
.extra {min-height:100%;height:auto !important;height:100%;margin:0 auto -104px}
body, html {height:100%}
a {color:#ad1912;text-decoration:underline;outline:none}
a:hover {text-decoration:none}
h1 {padding:57px 0 0 96px}
h2 {font-size:26px;color:#383838;line-height:34px;padding:18px 0 9px 0;letter-spacing:-1px}
h2 span {color:#ad1912}
p {padding-bottom:20px}
/* header */
header {height:276px;width:100%;overflow:hidden}
#logo {display:block;background:url(../images/logo.jpg) no-repeat;width:303px;height:116px;text-indent:-5000px}
#menu {width:100%;overflow:hidden;padding-top:33px}
#menu li {float:left;padding-right:23px;margin-right:22px;background:url(../images/menu_line.gif) right top no-repeat}
#menu .bg_none {background:none}
#menu li a {font-size:20px;font-weight:300;color:#383838;line-height:28px;display:block;text-decoration:none}
#menu li a:hover, #menu #menu_active a {color:#ad1912}
/* content */
#content {width:100%;overflow:hidden;padding-bottom:9px}
.pad_left1 {padding-left:50px}
.marg_right1 {margin-right:18px}
.marg_bot1 {margin-bottom:20px}
.pad_bot1 {padding-bottom:6px}
.pad_top1 {padding-top:6px}
.button {border:1px solid #d9d9d9;display:inline-block;line-height:32px;text-decoration:none;background:url(../images/button1.gif) top repeat-x #fff;padding:0 15px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;behavior:url(js/PIE.htc);position:relative}
.button:hover {background:#ad1912;color:#fff;border:1px solid #ad1912}
.line1 {background:url(../images/line_ver1.gif) 266px 0 repeat-y}
.list1 li {line-height:22px}
.list1 li a {padding-left:11px;background:url(../images/marker_1.gif) 0 6px no-repeat}
.color1 {color:#ad1912}
.gallery {margin-left:-1px;width:881px}
.gallery li {float:left;padding-right:15px;width:113px}
.gallery li a {margin-bottom:16px;display:block}
.gallery .no_pad {padding:0}
/* footer */
footer {line-height:18px;padding:32px 0 20px 0;text-align:center}
footer a{}
footer a:hover{}
/* forms */
#ContactForm {padding-top:6px}
#ContactForm a {margin-right:5px;margin-left:5px;float:right;padding:0 22px}
#ContactForm .input {float:right;margin-right:5px;width:460px;height:16px;border:1px solid #d9d9d9;background:#fefeff;padding:2px 5px;margin-bottom:8px;color:#383838;font:13px Arial,Helvetica,sans-serif}
#ContactForm textarea {overflow:auto;float:right;margin-right:5px;width:460px;height:325px;border:1px solid #d9d9d9;background:#fefeff;padding:2px 5px;margin-bottom:11px;color:#383838;font:13px Arial,Helvetica,sans-serif}