/* #BUTTONS
================================================== */


a.button {
	background: #fe8a02;
	padding: 6px 16px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}

a.button.tiny {
	background: #fe8a02;
	padding: 6px 16px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
}

a.button.small {
	background: #fe8a02;
	padding: 6px 16px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

a.button.big {
	background: #fe8a02;
	padding: 6px 16px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
}

/* #NOTIFICATION
================================================== */


.notification {
	background: #322e39;
	border-top: 2px solid #fe8a02;
	border-bottom: 1px solid #4e4c52;
	display: none;
}

.notification p {
	color: #959595;
	padding: 10px 0px;
}

.notification p a {
	color: #ffffff;
}

.notification p a:hover {
	color: #fe8a02;
}

.notification-button {
	position: absolute;
	right: 10px;
	z-index: 101;
}

.notification-button a {
	background: #322e39;
	color: #ffffff;
	font-size: 13px;
	display: block;
	padding: 10px 7px 15px 7px;
}

/* #HEADER
================================================== */


.header {
	background: #f7f7f7;
	border-bottom: 1px solid #e0e0e0;
	border-top: 12px solid #322e39;
}

.header .logo {
	padding: 25px 0px 25px 0px;
}

.header .logo {
	line-height: 0px;
}

/* #MAIN NAVIGATION
================================================== */


.navigation {
	text-align: right;
}

ul.main-navigation {
	font-family: 'Open Sans', serif;
	float: right;
}

ul.main-navigation li {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px 0px;
}

ul.main-navigation li a {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding: 32px 15px 24px 15px;
	background: none;
	color: #757575;
	margin: 0px;
	border-bottom: 3px solid #f7f7f7;
}

ul.main-navigation li a.active {
	background: #322e39 url(../images/main/navigation-arrow.png) no-repeat 50% bottom;
	color: #ffffff;
	border-bottom: 3px solid #fe8a02;
}

ul.main-navigation li a:hover {
	background: #322e39 url(../images/main/navigation-arrow.png) no-repeat 50% bottom;
	color: #ffffff;
	border-bottom: 3px solid #fe8a02;
}

ul.main-navigation li > ul.sub-nav {
	display: none;
	text-align: left;
	position: absolute;
	width: 125px;
	margin: 0px 0px 0px 0px;
	-webkit-box-shadow: 3px 18px 8px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 18px 8px 1px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

ul.main-navigation li > ul.sub-nav li {
	background: #fe8a02;
	display: block;
	float: none;
	position: relative;
}

ul.main-navigation li > ul.sub-nav li:first-child {
	border-top: none;
}

ul.main-navigation li > ul.sub-nav li:last-child {
	border-bottom: 10px solid #424047;
}

ul.main-navigation li > ul.sub-nav li a {
	background: none;
	color: #ffffff;
	font-size: 12px;
	border: none;
}

ul.main-navigation li > ul.sub-sub-nav {
	text-align: left;
	position: absolute;
	width: 125px;
	background: #fe8a02;
	margin: 0px;
	top: 0px;
	left: 125px;
	-webkit-box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 7px 5px 2px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

ul.main-navigation li > ul.sub-nav li > ul.sub-sub-nav li {
	background: #fe8a02;
	margin: 0px;
	display: block;
	position: relative;
}

ul.main-navigation li > ul.sub-nav li a, ul.main-navigation li > ul.sub-nav li > ul.sub-sub-nav li a {
	display: block;
	padding: 10px 0px 10px 10px;
}

ul.main-navigation li > ul.sub-nav li > ul.sub-sub-nav li:first-child {
	background: none;
	border-top: 2px solid #322e39;
}

ul.main-navigation li > ul.sub-nav li> ul.sub-sub-nav li:last-child {
	border-bottom: 10px solid #322e39;
}

.responsive-menu select {
	display: none;
}

/* #MAIN INTRO
================================================== */


.main-intro {
	border-top: 1px dashed #d5d5d5;
	border-bottom: 1px dashed #d5d5d5;
	margin: 35px 0px;
	padding: 15px 0px 15px 0px;
}

.main-intro h2 {
	font-size: 18px;
	color: #868686;
	line-height: 32px;
	text-align: center;
}

/* #SLIDER
================================================== */


.slider {
	margin: 0px 0px 10px 0px;
	position: relative;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	max-height: 347px;
}

a.rslides_nav {
	position: absolute;
	z-index: 200;
	top: 45%;
}

a.rslides_nav.next {
	background: #322e39;
	display: block;
	padding: 12px;
	color: #ffffff;
	font-family: 'WebSymbolsRegular';
	font-size: 12px;
	right: 0;
}

a.rslides_nav.prev {
	background: #322e39;
	display: block;
	padding: 12px;
	color: #ffffff;
	font-family: 'WebSymbolsRegular';
	font-size: 12px;
	left: 0;
}

ul.rslides_tabs {
	background: #322e39;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 10px;
}

ul.rslides_tabs li {
	display: inline-block;
	background: none;
	width: 10%;
	height: 10px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	vertical-align: top;
}

ul.rslides_tabs li a {
	display: block;
	padding: 0px;
	background: #5c5a5e;
	margin: 0px;
	height: 10px;
	line-height: 0px;
	text-indent: -9999px;
}

ul.rslides_tabs li.rslides_here a {
	text-indent: -9999px;
	background: #fe8a02;
	padding: 0px;
	margin: 0px;
	height: 10px;
	display: block;
	line-height: 1px;
}

.caption {
	position: absolute;
	bottom: 5%;
	left: 0%;
	background: rgba(0,0,0,0.4);
	margin: 0px;
	padding: 10px 0px 10px 0px;
	width: 70%;
	border-right: 5px solid rgba(255,138,2,0.8);
}

.caption h3 {
	padding: 0px 20px 0px 20px;
	color: #ffffff;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
}

.caption p {
	padding: 0px 20px 0px 20px;
	color: #bebebe;
	font-family: 'Open Sans', serif;
	font-size: 12px;
}

.caption p > a {
	color: #fe8a02;
	font-family: 'Open Sans', serif;
	font-size: 12px;
	text-decoration: none;
}

.caption p > a:hover {
	color: #ffffff;
}

/* #SHADOW
================================================== */


.shadow img {
	display: block;
	width: 100%;
	margin: 20px 0px;
}

/* #FEATURED
================================================== */


.featured {
	margin: 0px 0px 20px 0px;
	text-align: center;
}

.featured-content {
	margin: 40px 0px 0px 0px;
}

.featured-content h2 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 25px;
}

.featured-icon {
	margin: 30px 0px;
}

.featured-icon a {
	color: #c2c2c2;
	font-size: 49px;
}

.featured-icon a.active {
	color: #fe8a02;
}

/* #HEADING
================================================== */


.heading {
	margin: 20px 0px;
}

.heading h2 {
	border-bottom: 1px solid #efefee;
	text-transform: uppercase;
	padding-bottom: 25px;
	background: #ffffff url(../images/main/heading-background.png) no-repeat bottom left;
}

/* #LATEST BLOG POSTS
================================================== */


.small-post {
	position: relative;
	margin: 0px 0px 20px 0px;
}

.small-post .title {
	margin-bottom: 10px;
	margin-top: 0px;
}

.title h3 {
	font-size: 14px;
	line-height: 24px;
}

.title h6 {
	color: #c2c2c2;
	margin-top: 3px;
}

.small-post .image {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.small-post .image img {
	width: 100%;
	display: block;
}

/* #OVERLAY
================================================== */	


.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255,255,255,0.5);
	z-index: 5000;
}

.overlay-icons {
	position: relative;
	text-align: center;
	display: block;
}

.overlay > a.link {
	font-size: 16px;
	color: #ffffff;
	background: #322e39;
	padding: 15px 10px;
	position: absolute;
	top: 40%;
	right: 50%;
	z-index: 6000;
}

.overlay > a.zoom {
	font-size: 16px;
	color: #ffffff;
	background: #322e39;
	padding: 15px 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: 1px;
	z-index: 6000;
}

/* #PANEL
================================================== */	


.panel {
	background: #fbfafa;
	border: 1px solid #edecec;
	padding: 20px 25px 20px 25px;
	margin: 0px 0px 20px 0px;
}

.panel h2 {
	float: left;
	margin: 3px 0px 0px 0px;
	color: #868686;
	line-height: 24px;
}

.panel a.button {
	display: inline-block;
	background: #fe8a02;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 8px 30px;
	text-decoration: none;
	float: left;
	margin: 0px 0px 0px 30px;
}

/* #FOOTER
================================================== */	


.footer {
	background: #fbfafa;
	border-top: 1px solid #f2f2f2;
	border-bottom: 14px solid #322e39;
	padding: 20px 0px;
	margin: 20px 0px 0px 0px;
}

/* LATEST TWEETS
================================================== */


.twitter {
	background: #ffffff;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0px;
}

.tweet {
	width: 100%;
}

ul.tweet {
	margin: 0px 0px;
	padding: 0px;
	line-height: 0px;
	font-size: 11px;
}

.tweet li {
	margin: 0px 0px 0px 0px;
	display: block;
	padding-left: 60px;
	background: url(../images/main/tweet-icon.png) no-repeat 0px 0px;
}

.tweet li .tweet_text {
	color: #9c9a9a;
	line-height: 22px;
	font-family: 'Open Sans', serif;
	font-size: 14px;
}

.tweet li .tweet_text a {
	color: #fe8a02;
	text-decoration: none;
}

.tweet li .tweet_text .at {
	color: #fe8a02;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tweet li .tweet_text a:hover {
	color: #322e39;
}

.tweet li .tweet_time {
	display: inline-block;
	padding-left: 10px;
}

.tweet li .tweet_time a {
	color: #cbcbcb;
	font-family: 'Open Sans', serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	padding-left: 20px;
	text-decoration: none;
	margin: 0px;
	background: url(../images/main/tweet-time-icon.png) no-repeat 0px 2px;
}

.tweet li .tweet_time a:hover {
	color: #322e39;
}

/* #FOOTER BOXES
================================================== */


.footer-box {
	padding: 20px 0px 20px 0px;
	margin: 20px 0px;
}

.box-content h3 {
	margin: 0px 0px 25px 0px;
	text-transform: uppercase;
}

.box-content p {
	font-size: 11px;
	line-height: 21px;
}

.box-content p > a {
	font-size: 11px;
}

.box-content p > a.icon.arrow {
	font-size: 12px;
	margin-left: 10px;
}

/* #SOCIAL ICONS
================================================== */


.social-footer {
	margin: 15px 0px;
}

ul.social-icons {
	margin: 10px 0px;
}

ul.social-icons li {
	display: block;
	float: left;
	margin-right: 1px;
	margin-top: 1px;
}

ul.social-icons li a.icon.social {
	font-size: 16px;
	display: block;
	line-height: 16px;
	padding: 6px 6px;
	background: #c8c7c7;
	color: #ffffff;
}

ul.social-icons li a.icon.social.facebook_f.active {
	background: #3b5998;
}

ul.social-icons li a.icon.social.bookmark.active {
	background: #ec7f00;
}

ul.social-icons li a.icon.social.skype.active {
	background: #18b7f1;
}

ul.social-icons li a.icon.social.vkontakte.active {
	background: #789abf;
}

ul.social-icons li a.icon.social.googleplus.active {
	background: #d94a39;
}

ul.social-icons li a.icon.social.rss.active {
	background: #fe8a02;
}

ul.social-icons li a.icon.social.vimeo.active {
	background: #62a0ad;
}

ul.social-icons li a.icon.social.youtube.active {
	background: #f45750;
}

ul.social-icons li a.icon.social.linkedin.active {
	background: #71b2d0;
}

ul.social-icons li a.icon.social.twitter_f.active {
	background: #48c4d2;
}

ul.social-icons li a.icon.social.tumblr.active {
	background: #3a5976;
}

/* #COPYRIGHT AND FOOTER NAVIGATION
================================================== */


.copyrights {
	background: #ffffff;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0px;
}

.footer-nav ul {
	float: left;
	display: inline-block;
}

.footer-nav ul li {
	display: inline-block;
	margin-right: 10px;
}

.footer-nav ul li a {
	font-size: 11px;
	color: #868686;
}

.footer-nav ul li a:hover {
	font-size: 11px;
	color: #fe8a02;
}

.footer-nav ul li a.active {
	color: #fe8a02;
}

.copy {
	float: right;
	display: inline-block;
}

.copy p {
	font-size: 11px;
}

.newsletter form {
	float: left;
}

/* #FORMS
================================================== */


.newsletter {
	margin-top: 10px;
}

.success-message {
	display: none;
}

form.newsletter-form {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

form.newsletter-form input[type=text] {
	border: 1px solid #d2d2d2;
	border-right: none;
	padding: 6px 10px 6px 10px;
	color: #868686;
	font-size: 11px;
	width: 70%;
	float: left;
	margin: 0px;
}

form.newsletter-form a.submit {
	color: #ffffff;
	background: #fe8a02;
	line-height: 14px;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 7px 8px 7px 8px;
	cursor: pointer;
	display: inline-block;
	float: left;
}

/* #SCROLL TO TOP
================================================== */


.scrollup {
	position: fixed;
	bottom: 45px;
	right: 5px;
	display: none;
	background: url(../images/main/to-top.png);
	width: 21px;
	height: 21px;
	opacity: 1;
	z-index: 1000;
}

/* #INNER PAGE TITLE & BREADCRUMBS
================================================== */


.inner-page {
	background: #322e39;
	padding: 30px 0px;
	margin-top: -1px;
	margin-bottom: 20px;
}

.page-title h1 {
	text-transform: uppercase;
	color: #ffffff;
	float: left;
}

.breadcrumbs ul {
	float: right;
	margin-top: 5px;
}

.breadcrumbs ul li {
	display: block;
	float: left;
	margin-right: 10px;
	color: #ffffff;
	font-family: 'Open Sans', serif;
	font-size: 11px;
}

.breadcrumbs ul li a {
	font-size: 12px;
	color: #ffffff;
}

.breadcrumbs ul li a:hover {
	color: #fe8a02;
}

.breadcrumbs ul li a.disabled {
	cursor: default;
	color: #fe8a02;
}

/* #DROPCAPS & FEATURED DROPCAPS
================================================== */


.featured-dropcap, .feaured-dropcap-services {
	margin-bottom: 25px;
}

.dropcap-services {
	float: left;
	width: 19%;
}

.services-content {
	float: right;
	width: 80%;
	margin-top: 5px;
	margin-bottom: 25px;
}

.services-content h3 {
	margin-bottom: 8px;
}

.services-content h4 {
	color: #fe8a02;
}

span.dropcap {
	float: left;
	color: #ffffff;
	;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 11px;
	margin-right: 12px;
	margin-top: 5px;
	font-family: 'Open Sans', serif;
	background: #cbcbcb;
	border-radius: 100%;
	margin-bottom: 20px;
}

span.dropcap.active {
	background: #fe8a02;
}

/* #OUR TEAM
================================================== */


.flip {
	margin: 10px 0px 30px 0px;
	position: relative;
	width: 100%;
}

.image-holder {
	width: 100%;
	height: 100%;
	position: relative;
}

.image-holder img {
	width: 100%;
}

.image-holder span.team-button {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #fe8a02;
	padding: 8px 8px;
	font-family: 'WebSymbolsRegular';
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	z-index: 1000;
}

.team-content {
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	display: block;
}

.team-wrap {
	padding: 13px 20px 20px 20px;
	border: 1px solid #e1e1e1;
}

.team-wrap h3 {
	color: #fe8a02;
	text-transform: uppercase;
}

.team-wrap p {
	margin: 15px 0px 10px 0px;
	color: #868686;
}

/* #CLIENTS
================================================== */


.clients-wrap {
}

ul.clients li {
	display: block;
	float: left;
	margin: 0px 15px 15px 0px;
	width: 98px;
	height: 73px;
	border: 1px solid #f2f2f2;
}

.adipoli-wrapper {
	margin: auto;
	position: relative;
}

.adipoli-wrapper>img {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	border: 1px solid #f2f2f2;
}

.adipoli-before {
	position: absolute;
	z-index: 5;
}

.adipoli-after {
	position: absolute;
	z-index: 10;
}

.adipoli-slice {
	display: block;
	position: absolute;
	z-index: 15;
	height: 100%;
}

.adipoli-box {
	display: block;
	position: absolute;
	z-index: 15;
}

/* #RECENT WORK
================================================== */


ul.slides li > .image {
	position: relative;
	width: 220px;
	margin-right: 20px;
	float: left;
	display: block;
	margin-bottom: 20px;
}

ul.slides li > .image:last-child {
	position: relative;
	width: 220px;
	margin-right: 0px;
	float: left;
	display: block;
	margin-bottom: 20px;
}

/* #PORTFOLIO
================================================== */


.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

ul.filter {
	max-width: 940px;
	border-top: 1px dashed #d5d5d5;
	border-bottom: 1px dashed #d5d5d5;
	padding: 10px 0px;
	margin: 10px 0px 30px 0px;
}

ul.filter li {
	display: block;
	float: left;
	margin-right: 5px;
	color: #a2a2a2;
	font-family: 'Open Sans', serif;
}

ul.filter li a {
	font-size: 12px;
	color: #a2a2a2;
}

ul.filter li a:hover {
	color: #fe8a02;
}

ul.filter li a.selected {
	color: #fe8a02;
}

ul.filter li:first-child a {
	text-transform: uppercase;
	color: #322e39;
	margin-right: 10px;
	cursor: default;
}

.portfolio.four-columns, .portfolio.three-columns, .portfolio.two-columns {
	width: 110%;
	min-height: 450px;
}

.portfolio.four-columns div.item {
	margin-bottom: 20px;
	margin-right: 20px;
	width: 220px;
	height: 137px;
	position: relative;
}

.portfolio.four-columns div.item img {
	width: 100%;
	height: auto;
	display: block;
}

.portfolio.three-columns div.item {
	margin-bottom: 20px;
	margin-right: 20px;
	width: 300px;
	height: 187px;
	position: relative;
}

.portfolio.three-columns div.item img {
	width: 100%;
	height: auto;
	display: block;
}

.portfolio.two-columns div.item {
	margin-bottom: 20px;
	margin-right: 20px;
	width: 460px;
	height: 286px;
	position: relative;
}

.portfolio.two-columns div.item img {
	width: 100%;
	height: auto;
	display: block;
}

.portfolio.two-columns div.item a.link, .portfolio.two-columns div.item a.zoom {
	top: 49%;
}

/* #PORTFOLIO SINGLE
================================================== */


.inner-slide {
	margin-top: 20px;
}

ul.similar-projects li {
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 100px;
	height: 73px;
	position: relative;
}

ul.similar-projects li a img {
	width: 100px;
	height: 73px;
}

ul.similar-projects li:last-child {
	margin-right: 0px;
}

.widget {
	margin-top: 20px;
	margin-bottom: 40px;
}

.widget h3, .widget p, .widget a.button {
	margin-bottom: 20px;
}

.progress p {
	margin-bottom: 3px;
	font-family: 'Open Sans', serif;
}

.my-progress-bar {
	overflow: hidden;
	display: block;
	height: 20px;
	background: #dbdbdb;
	width: 100%;
	margin-bottom: 10px;
	padding-botom: 5px;
	border-bottom: 1px dashed #d2d2d2;
}

.my-progress-bar div {
	float: left;
	height: 20px;
	background: #322e39;
}

/* #BLOG
================================================== */


.post {
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 20px;
}

.head-meta {
	margin: 10px 0px;
}

ul.meta {
	float: right;
	margin-top: 0px;
	display: block;
}

ul.meta li {
	display: block;
	margin-left: 10px;
	float: left;
}

ul.meta li:last-child {
	margin-top: 2px;
}

ul.meta li span {
	font-family: 'WebSymbolsRegular';
	font-size: 12px;
	color: #d0d0d0;
	margin-right: 6px;
}

ul.meta li a {
	font-family: 'Open Sans', serif;
	font-size: 11px;
	color: #808081;
}

ul.meta li a:hover {
	color: #fe8a02;
}

.post-media {
	margin: 30px 0px;
	width: 100%;
	position: relative;
}

.post-media .overlay a.link, .post-media .overlay a.zoom {
	top: 47%;
}

.post-media img {
	display: block;
	width: 100%;
}

.post-content {
	margin-bottom: 20px;
}

.post-read-more {
	margin-bottom: 20px;
}

.post-tags {
	margin: 35px 0px 15px 0px;
}

.post-tags ul li {
	display: block;
	float: left;
	margin-right: 5px;
	color: #d0d0d0;
}

.post-tags ul li.icon.tag {
	margin-top: 10px;
	color: #322e39;
	color: #d0d0d0;
	margin-right: 20px;
}

.post-tags ul li a {
	font-size: 11px;
	color: #808081;
}

.post-tags ul li a:hover {
	color: #fe8a02;
}

/* #PAGINATION
================================================== */


.pagination ul {
	text-align: right;
	margin: 30px 0px;
}

.pagination ul li {
	display: inline-block;
	margin: 0px 5px;
}

.pagination ul li a {
	text-decoration: none;
	font-family: 'Open Sans', serif;
	font-size: 12px;
	color: #808081;
}

.pagination ul li.prev a, .pagination ul li.next a {
	text-decoration: none;
	font-family: 'WebSymbolsRegular';
	font-size: 14px;
	color: #424047;
}

.pagination ul li a:hover, .pagination ul li a:hover {
	color: #f77047;
}

.pagination ul li a.current, .pagination ul li a.current {
	color: #f77047;
}

.pagination ul li.prev.disable a, .pagination ul li.next.disable a, .pagination ul li.prev.disable a:hover, .pagination ul li.next.disable a:hover {
	color: #e7e7e7;
	cursor: default;
}

/* #BLOG SIDEBAR
================================================== */


.widget h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

form.search-form {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

form.search-form input[type=text] {
	border: 1px solid #d2d2d2;
	border-right: none;
	padding: 6px 10px 6px 10px;
	color: #868686;
	font-size: 11px;
	width: 70%;
	float: left;
	margin: 0px;
	background: #fbfbfb;
}

form.search-form a.submit {
	color: #ffffff;
	background: #fe8a02;
	line-height: 14px;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 7px 8px 7px 8px;
	cursor: pointer;
	display: inline-block;
	float: left;
}

.categories ul li {
	border-bottom: 1px solid #ededed;
	margin: 15px 0px;
	padding-bottom: 15px;
	color: #757575;
	font-size: 12px;
	display: block;
	cursor: pointer;
}

.categories ul li:first-child {
	margin-top: 25px;
}

.categories ul li span {
	font-size: 12px;
	float: right;
	font-family: 'WebSymbolsRegular';
	color: #c8c8c8;
}

.categories ul li:hover a {
	color: #fe8a02;
}

.categories ul li a {
	color: #757575;
	font-size: 12px;
	display: inline block;
	font-family: 'Open Sans', serif;
}

/* #ACCORDION
================================================== */


.accordion {
	border: 1px solid #ececec;
	background: #ffffff;
	border-top: none;
	margin: 20px 0px;
}

.accordion h6 {
	display: block;
	padding: 12px 8px 12px 35px;
	text-transform: uppercase;
	background: #ececec;
	cursor: pointer;
	border-bottom: 1px solid #ececec;
	border-top: 1px solid #ececec;
	background: url(../images/main/bottom-arrow.png) no-repeat 10px 10px;
}

.accordion h6:hover {
}

.accordion h6.active {
	background: url(../images/main/top-arrow.png) no-repeat 10px 10px;
}

.accordion > div {
	display: block;
	padding: 20px 35px;
	background: #fffff;
}

/* #TABS
================================================== */


.tabs {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab-nav {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
}

ul.tab-filter li {
	display: block;
	float: left;
	border: none;
}

ul.tab-filter li:first-child {
	border-left: none;
}

ul.tab-filter li:last-child {
	border-right: 1px solid #e1e1e1;
}

ul.tab-filter li a {
	display: block;
	font-family: 'Open Sans', serif;
	font-size: 11px;
	color: #858585;
	text-transform: uppercase;
	padding: 10px 10px;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	background: #ffffff;
	box-shadow: inset 0px -2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px -2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px -2px rgba(0, 0, 0, 0.1);
}

ul.tab-filter li:first-child a {
	margin-left: 3px;
}

ul.tab-filter li a.active {
	border-bottom: 1px solid #ffffff;
	background: #ffffff;
	color: #fe8a02;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.tab {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.tab-content {
	clear: both;
	border: 1px solid #e1e1e1;
	margin-top: -3px;
}

.tab-content {
	padding: 10px;
}

.tab-post-image {
	float: left;
	margin-top: 5px;
	width: 35%;
	display: block;
}

.tab-post-image img {
	width: 100%;
	display: block;
}

.tab-post-heading {
	float: left;
	margin-left: 5%;
	width: 60%;
	display: block;
}

.tab-post-heading.tags {
	width: 90%;
}

.tab-post-heading.tags ul li {
	float: left;
	margin-right: 3px;
	display: block;
	text-align: center;
}

.tab-post-heading.comment {
	width: 90%;
	display: block;
}

.tab-post-heading span {
	font-size: 10px;
	color: #d0d0d0;
}

.tab-post-heading a.user {
	color: #fe8a02;
}

.tab-post-heading a.user:hover {
	color: #322e39;
}

.tab-post-heading p, .tab-post-heading a {
	font-size: 11px;
	margin: 0px;
	line-height: 16px;
	color: #858585;
}

.tab-post-heading p, .tab-post-heading a:hover {
	color: #fe8a02;
}

.tags-widget ul li {
	display: block;
	margin-right: 1px;
	margin-bottom: 1px;
	float: left;
}

.tags-widget ul li a span {
	color: #ffffff;
	font-family: 'WebSymbolsRegular';
	font-size: 10px;
	margin-right: 3px;
}

.tags-widget ul li a {
	font-family: 'Open Sans', serif;
	color: #ffffff;
	background: #fe8a02;
	padding: 3px 8px 5px 8px;
	font-size: 11px;
	text-transform: lowercase;
	display: block;
}

/* #BLOG LAYOUT 1
================================================== */


.post-media.left-media {
	margin-top: 5px;
}

.post-media.left-media .overlay a.link, .post-media.left-media .overlay a.zoom {
	top: 40%;
}

/* #COMMENTS
================================================== */


.comments {
	margin: 20px 0px;
}

.comments h2 {
	text-transform: uppercase;
	color: #322e39;
	margin: 0px 0px 40px 0px;
}

.comments h2 > span {
	color: #f77047;
}

ul.comment-list {
	margin-bottom: 20px;
}

ul.comment-list li {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e9e9e9;
	clear: both;
}

ul.comment-list li .comment-avatar {
	float: left;
	margin-right: 20px;
	width: 60px;
	margin-top: 4px;
}

ul.comment-list li .comment-content {
	float: right;
	width: 100%;
	max-width: 260px;
}

ul.comment-list li p.name {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	color: #fe8a02;
	text-transform: uppercase;
}

ul.comment-list li p.time {
	font-family: 'Open Sans', serif;
	font-size: 11px;
	color: #9a9898;
}

ul.comment-list li p.content {
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 11px;
	color: #858585;
	line-height: 18px;
	margin-top: 10px;
}

/* CONTACT & COMMENT FORM
================================================== */


.comment-form {
	width: 100%;
	max-width: 340px;
	margin: 20px 0px 0px 0px;
}

.contact_form {
	width: 100%;
	margin: 20px 0px 0px 0px;
}

.contact_form h2, .comment-form h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contact_form fieldset, .contact_form fieldset {
	border: none;
	padding: 0px;
	margin: 35px 0px;
}

.comment-form input[type="text"] {
	width: 100%;
	max-width: 320px;
	height: 11px;
	border: 1px solid #ececec;
	outline: none;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	font-size: 11px;
	color: #999999;
	background: #f4fce9;
}

.contact_form input[type="text"] {
	width: 100%;
	max-width: 440px;
	height: 11px;
	border: 1px solid #ececec;
	outline: none;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	font-size: 11px;
	color: #999999;
	background: #f4fce9;
}

.comment-form textarea {
	width: 100%;
	max-width: 320px;
	border: 1px solid #ececec;
	outline: none;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	background: #f4fce9;
	min-height: 180px;
	font-family: Arial, Helvetica, sans-serif;
	color: #c7c7c7;
	font-size: 11px;
}

.contact_form textarea {
	width: 100%;
	max-width: 440px;
	border: 1px solid #ececec;
	outline: none;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	background: #f4fce9;
	min-height: 180px;
	font-family: Arial, Helvetica, sans-serif;
	color: #c7c7c7;
	font-size: 11px;
}

.contact_form textarea[value], .comment-form textarea[value] {
	font-size: 11px;
	color: #c7c7c7;
}

.contact_form input[value], .comment-form input[value] {
	font-size: 11px;
	color: #c7c7c7;
}

.contact_form input.error, .contact_form textarea.error, .comment-form input.error, .comment-form textarea.error {
	background: #FFF2F2;
}

.contact_form input.valid, .contact_form textarea.valid, .comment-form input.valid, .comment-form textarea.valid {
	background: #F7FFEC;
}

.comment-form a.submit {
	float: right;
	margin: 15px 0px 15px 0px;
}

.contact_form a.submit {
	float: none;
	display: inline-block;
	margin: 20px 0px 40px 0px;
}

/* #MAP
================================================== */

.map {
	width: 100%;
	height: 278px;
	margin: 30px 0px 30px 0px;
}

/* #404 PAGE
================================================== */


.error-page {
	margin-top: 30px;
	margin-botoom: 30px;
}

.error-page img {
	width: 100%;
	display: block;
}

.error-page .search h2 {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.error-page .search {
	width: 50%;
	margin: 40px auto 40px auto;
}

.search form.search-form {
	margin: 0px 0px 40px 0px;
}

/* #PRICE TABLE
================================================== */

.pricing-table {
	border: none;
	margin: 25px 0px 25px 0px;
	width: 100%;
}

.pricing-table ul {
	font-family: 'Open Sans', serif;
	list-style: none;
	float: left;
	width: 100%;
	margin: 0px;
	border: 1px solid #f2f3f3;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

.pricing-table ul:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	-webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	background: #ffffff;
}

.pricing-table ul.active {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	-webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	box-shadow: 3px 5px 7px rgba(0,0,0,.1);
	background: #ffffff;
}

.pricing-table ul li {
	padding: 10px 0;
}

.pricing-table ul li:first-child {
	color: #ffffff;
	font-size: 14px;
	background: #fe8a02;
}

.pricing-table ul li:nth-child(2) {
	background: #ffffff;
	color: #322e39;
	font-size: 18px;
	border-bottom: 1px solid #f2f2f2;
}

.pricing-table ul li:nth-child(3) {
	font-size: 11px;
	line-height: 22px;
	color: #858585;
}

.pricing-table ul li:nth-child(n+4) {
	font-size: 11px;
	color: #858585;
}

.pricing-table ul li.not:nth-child(n+4) {
	font-size: 11px;
	color: #c9c9c8;
	text-decoration: line-through;
}

.pricing-table ul li:last-child a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 10px;
	margin: 5px auto;
	background: #322e39;
	width: 60%;
}

/* #LABELS
================================================== */


span.label {
	color: #ffffff;
	background: #fe8a02;
	padding: 2px 5px;
	margin-right: 4px;
	font-size: 11px;
}

span.label.red {
	background: #ea9369;
}

span.label.blue {
	background: #a3d6f9;
}

span.label.black {
	background: #3b3b3b;
}

span.label.green {
	background: #9ed068;
}


/* #Media Queries
====================================================*/

@media only screen and (max-width: 959px) {
.responsive-menu select {
	display: block;
}

ul.main-navigation {
	display: none;
}

.responsive-menu {
	text-align: center;
}

.responsive-menu select {
	float: right;
	display: block;
	width: 100%;
	margin: 0px 0px 20px 0px;
	-webkit-appearance: button;
	-webkit-padding-end: 30px;
	-webkit-padding-start: 40px;
	-webkit-user-select: none;
	background-position: 10px 0px;
	background-repeat: no-repeat;
	border: 1px solid #e1e1e1;
	border-top: 2px solid #322e39;
	color: #999;
	font-size: 12px;
	font-family: 'Open Sans', serif;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	text-transform: capitalize;
	outline: none;
}

.header .logo {
	text-align: center;
	margin-top: 20px;
}

.notification-button {
	right: 50%;
}

.main-intro {
	margin: 20px 0px;
}

.main-intro h2 {
	font-size: 14px;
	line-height: 22px;
}

.caption {
	display: none;
}

.featured {
	margin: 40px 0px;
}

.panel, .footer-nav ul, .copy {
	text-align: center;
	float: none;
}

.copy p {
	line-height: 16px;
	margin-top: 25px;
}

.panel h2 {
	float: none;
	margin: 8px 0px 0px 0px;
	color: #868686;
	line-height: 22px;
	font-size: 14px;
}

.panel a.button {
	background: #fe8a02;
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 8px 30px;
	text-decoration: none;
	float: none;
	margin: 10px 0px;
}

ul.clients li {
	display: block;
	float: none;
	margin: 0px 15px 15px 0px;
	width: 100%;
	border: 1px solid #f2f2f2;
}

ul.slides li > .image {
	position: relative;
	width: 100%;
	margin-right: 0px;
	float: none;
	display: block;
	margin-bottom: 20px;
}

ul.slides li > .image:last-child {
	position: relative;
	width: 100%;
	margin-right: 0px;
	float: none;
	display: block;
	margin-bottom: 20px;
}

.tweet li .tweet_text {
	color: #9c9a9a;
	line-height: 18px;
	font-family: 'Open Sans', serif;
	font-size: 12px;
}

.tweet li .tweet_time {
	color: #9c9a9a;
	line-height: 18px;
	font-family: 'Open Sans', serif;
	font-size: 10px;
}

.portfolio.four-columns, .portfolio.three-columns, .portfolio.two-columns {
	width: 100%;
}

.portfolio.four-columns div.item {
	margin-bottom: 20px;
	margin-right: 0px;
	width: 100%;
	height: auto;
	float: none;
	display: block;
	overflow: hidden;
	position: relative;
}

.portfolio.four-columns div.item img {
	width: 100%;
}

.portfolio.three-columns div.item {
	margin-bottom: 20px;
	margin-right: 0px;
	width: 100%;
	height: auto;
	float: none;
	display: block;
	overflow: hidden;
	position: relative;
}

.portfolio.three-columns div.item img {
	width: 100%;
}

.portfolio.two-columns div.item {
	margin-bottom: 20px;
	margin-right: 0px;
	width: 100%;
	height: auto;
	float: none;
	display: block;
	overflow: hidden;
	position: relative;
}

.portfolio.two-columns div.item img {
	width: 100%;
}

ul.similar-projects li {
	width: 100%;
	height: auto;
	float: none;
	display: block;
}

ul.similar-projects li a img {
	width: 100%;
	height: auto;
	display: block;
}

.heading {
	display: block;
	width: 100%;
	float: none;
	clear: both;
}

ul.meta {
	float: left;
	margin: 20px 0px;
	clear: both;
}

ul.meta li {
	display: block;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
}
 @media only screen and (min-width: 200px) and (max-width: 319px) {

.inner-page {
	text-align: center;
}

.page-title h1 {
	float: none;
	text-align: center;
}

.breadcrumbs ul {
	float: none;
	text-align: center;
	margin-top: 15px;
	display: block;
}

.breadcrumbs ul li {
	display: inline-block;
	float: none;
}
}
