@charset "utf-8";
/* Basic */
html,body,ul,li,h1,h2,h3,h4,h5,h6,blockquote,object,img,em,form,label{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 110%;
	color:#660000;
	line-height:2em;
	background-color: #0F060C;
	text-align:left;
}
p, ul,li{text-align: justify;text-justify:inter-ideograph;}
a{ color:#663300;}

img{border:none;}

#wrapper{width:320px;margin-right: auto;margin-left: auto; background:#FFFFFF url(../images/bg.jpg) repeat-y;}
.content{ padding:10px 20px; background:url(../images/contentBg.jpg) no-repeat top;}

/* Main Content */
.space{	clear: both;}
.bottomMenu{ list-style:none;}
.bottomMenu li{ float:left; display:block; margin:2px; padding:5px 5px 5px 10px; width:81px; height:29px; background: url(../images/bottomBg.jpg) top no-repeat;}
.bottomMenu li a{ color:#FFFFFF;}
h2{ background:url(../images/h1.gif) no-repeat; padding-left:10px; height:38px; line-height:38px;}
h3{
	color: #FF6600;
}
.news{ list-style:none;}
.news li{
	padding-bottom:10px;
	margin:10px 0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #F185A6;
}
.news li img{ float:left; margin-right:5px;}
.news li a{
	color:#333333;
	text-decoration: none;
}

/* style */
.red {
	font-size: 15px;
	line-height: 1.8;
	font-weight: bold;
	color: #FF0000;
}
.green {
	color: #006600;
	font-size: 13px;
	line-height: 1.5;
}
.blue{font-weight:bold ;color: #0000FF;}
.coffie {
	font-size: 18px;
	font-weight: bold;
	color: #B75904;
}
.link{ float:right; color:#FF99CC; display:block; font-size:12px; padding-right:10px;}
.link a{
	color:#BF4D00;
}

/* Footer */
#footer{clear: both;text-align:center; padding:10px 0; color:#fff;background:#301B2E url(../images/footer.jpg) no-repeat; height:57px;ã€€}
#footer a{ color:#FFFFFF;}
input,textarea{font-size: 110%;}
