/*******************************************************************************************************************
*  Author: Tomas Lach (www.tomaslach.cz)                                                                           
*  Date: 1.11.2011                                                                                                
*******************************************************************************************************************/

/*******************************************************************************************************************
*  IMPORT OTHER STYLES                                                                                             
*******************************************************************************************************************/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Pacifico);
@import url(jquery.fancybox-1.3.4.css);

/*******************************************************************************************************************
*  BASE                                                                                                            
*******************************************************************************************************************/
html {background: #fff url('../img/background.png') repeat-x;} /* background color */
body {padding-top: 15px;color: #71777d;font: normal 13px Helvetica, Arial, Tahoma, Verdana;background: url('../img/dots-header.png') repeat-x 0 588px;min-height: 600px}
p {line-height: 1.7em;margin-bottom: 15px}
address {font-style: normal;padding-bottom: 15px;}

/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus {color: #b20a31;outline: 0;text-decoration: none} /* color */
a:hover {color: #b20a31;text-decoration: underline}
a.more {padding-right: 15px;background: url('../img/arrow.gif') no-repeat 100% 50%}

/*******************************************************************************************************************
*  H1 - H4                                                                                                         
*******************************************************************************************************************/
h1, h2, h3, h4 {font-family: "Droid Serif", Arial;line-height: 1.5em;margin-bottom: 15px;font-weight: bold;font-style: italic}
h1 {font-size: 2.8em;font-family: "Pacifico", Arial;font-weight: normal;color: #fff;margin: 0;position: relative;top: 20px;text-shadow: 1px 1px 1px #01121b} /* shadow color */
h1 span {color: #e1aa02}
h2 {font-size: 2.4em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.0em;font-family: Helvetica, Arial, Tahoma, Verdana;margin-bottom: 10px;font-weight: normal;font-style: normal}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
.reflection {background: url('../img/reflection.png') no-repeat 50% 0;height: 600px;text-shadow: 1px 1px 1px #470313}/* shadow color */
#header {height: 100px;line-height: 100px;position: relative;border-bottom: 1px solid #4c0214} /* color */
#header nav ul {position: absolute;top: 0;right: 0}
#header nav li {float: left;height: 100px;font-weight: bold;}
#header nav li a {float: left;display: block;height: 100px;padding: 0 20px;color: #fff;text-decoration: none; }
#header nav li.active a,
#header nav li a:hover {border-bottom: 1px solid #ecc306} /* border color */
#intro {position: relative;height: 470px}
#intro #slider {height: 470px;overflow: hidden;width: 980px;position: relative}
#intro #slider .window {width: 520px;height: 373px;background: url('../img/window.png') no-repeat; float: left;position: relative}
#intro #slider .video {width: 520px;height: 373px; padding: 30px 0 0 20px;float: left;position: relative}
#intro #slider .window * {position: absolute;left: 11px;top: 37px}
#intro #slider .content {width: 380px;position: relative;right: 20px;float: right}
#intro #slider h2 {margin-bottom: 20px;color: #f5d8df;} /* color */
#intro #slider ul {height: 470px;position: absolute;top: 0;left: 0;}
#intro #slider ul li {display: block;padding: 35px 0;overflow: hidden;width: 980px;float: left;}
#intro #slider p {margin-bottom: 20px;color: #fff;font-size: 1.0em;}
#intro a.prev, #intro a.next {display: block;width: 15px;height: 22px;text-indent: -9999px;position: absolute;top:45%;margin-top:-11px}
#intro a.prev {left:  -35px;background: url('../img/prev.png') no-repeat;}
#intro a.next {right: -35px;background: url('../img/next.png') no-repeat;}

/*******************************************************************************************************************
*  CONTENT                                                                                                         
*******************************************************************************************************************/
#content {padding: 30px 0;}
#content .separate {padding-bottom: 30px;margin-bottom: 30px;border-bottom: 1px solid #e7e8ea}
#content .post {margin-bottom: 15px;}
#content .post:last-child {margin-bottom: 0}
#content .post .photo {float: left}
#content .post .content {width: 190px;float: right}
#content .post small {color: #808790;font-size: 11px}
#content iframe {border: 1px solid #e7e8ea;margin-bottom: 20px;}
#content .buttonWrap {background: #f6f6f6;border: 1px solid #e7e8ea;padding: 15px 20px;border-radius: 10px;margin: 20px 0;}
#content .buttonWrap .button {position: relative;left: -25px}
#content .buttonWrap p {margin: 0;font-weight: bold;font-style: italic;font-family: "Droid Serif", Arial;font-size: 1.2em;padding: 5px 0;}

/*******************************************************************************************************************
*  FOOTER                                                                                                          
*******************************************************************************************************************/
#footer {padding: 40px 0;color: #8b8b8b;font-size: 0.9em;text-shadow: 1px 1px 1px #fff;background: #f1f0f0 url('../img/dots-footer.png') repeat-x;}
#footer p {color: #3d3d3d}
#footer p .date {color: #999999}
#footer .followUs a {display: block;float: left;width: 30px;height: 30px;background-repeat: no-repeat;background-position: 0 0;text-indent: -9999px;margin-right: 10px}
#footer .followUs a:hover {background-position: 0 -30px}
#footer .followUs a.facebook {background-image: url('../img/icon-facebook.png');}
#footer .followUs a.twitter {background-image: url('../img/icon-twitter.png');}
#footer .followUs a.rss {background-image: url('../img/icon-rss.png');}
#footer .followUs a.linkedin {background-image: url('../img/icon-linkedin.png');}
#footer .followUs a.vimeo {background-image: url('../img/icon-vimeo.png');}
#footer .followUs a.digg {background-image: url('../img/icon-digg.png');}
#footer .followUs a.delicious {background-image: url('../img/icon-delicious.png');}
/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
.wrap {margin: 0 auto;position: relative;width: 980px}
.mask {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
a.button {display: block;float: left;background: url('../img/button-left.png') no-repeat;height: 38px;text-decoration: none}
a.button span {position: relative;left: 20px;padding: 0 20px 0 0px;display: block;float: left;background: url('../img/button-right.png') no-repeat 100% 0;height: 38px;line-height: 38px;font-size: 1.0em;font-weight: bold;color: #fff;text-shadow: 1px 1px 1px #b18f04;text-decoration: none} /* shadow color */
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

.gallery .photo {margin-left: 29px}
.gallery .photo:first-child {margin-left: 0}
a.photo {display: block;float: left;}
a.photo img, img.photo {display: block;float: left;border: 1px solid #e7e8ea}
a.photo:hover img {border-color: #d1d1d1}
.photoWrap {margin: 30px 0 30px}
.col1-3 {width: 300px;margin-left: 40px;float: left}
.col1-3 p:last-child, 
.col2-3 p:last-child {margin-bottom: 0}
.col1-3:first-child {margin-left: 0}
.col2-3 {width: 640px;margin-left: 40px;float: left}



