@charset "utf-8";
/* CSS Document */

body,html {
	background:#d6d8d7 url(../images/bg-over.png);
}

body,html,h6,h5,h4,h3,h2,h1,a,.top-title h1 span,.top-title h2,.top-title-slider h2,.block-info h1,.nivo-caption,.nivo-caption p,.theme-default .nivo-caption a:hover,.progressbar .text,ul#portfolio-filter li.title,.info-item h4,ul.porto-entry h4,ul.porto-entry h3 {
	color:#616262
}

header {
	background:#616262 url(../images/bg-header.png) repeat-x
}

.top-row {
	background:#616262 url(../images/bg-m.png) repeat-x
}

.color-section {
	background:#616262 url(../images/bg-overs.png)
}
.divider-sections {
	background:#444646 url(../images/bg-divider.png) repeat-x
}

.main-navigation li a,.main-navigation li a:hover,.main-navigation li a.current {
	text-shadow:2px 2px 0 #616262,3px 3px 0 #000
}

.top-title h1 {
	text-shadow:2px 2px 0 #b9b9ba,4px 4px 0 #616262;
}

.divider-sections .bg-star h1 {

	text-shadow:1px 2px 0 #565656
}

.top-title-slider h2 span,.top-title h2 span,.block-info h3,.theme-default .nivo-caption a,.info-item p,.small-label {
	color:#444646
}

.block-info,.nivo-caption,.wrapper-block [type="text"],.wrapper-block textarea {
	background:#c9c9cb url(../images/bg-over.png)
}

.block-info.team {
	-moz-box-shadow:1px 1px 0 #fff,3px 3px 0 #616262;
	-webkit-box-shadow:1px 1px 0 #fff,3px 3px 0 #616262;
	box-shadow:1px 1px 0 #fff,3px 3px 0 #616262
}

.text-color h3,.text-color h1,div.skills div.last,ul#portfolio-filter a,.wrapper-block label,input.btn-form,.mess h3,.button {
	text-shadow:1px 1px 0 #616262,2px 2px 0 #a9a9a8
}

input.btn-form {
	width:328px;
	margin:0 0 5px 130px;
	background:#444646 url(../images/bg-over.png)
}

input.btn-form:hover,.button {
	background:#616262 url(../images/bg-over.png)
}

.button:focus,.button:hover,.orange {
	background:#444646
}

.orange:hover {
	background:#616262
}
.open-block-acc,.open-block a {
	background:#616262 url(../images/open-close.png) 97% 10px no-repeat
}
.open-block-acc.active,.open-block.active a {
	background:#444646 url(../images/open-close.png) 97% -30px no-repeat
}
