/*
	Aqueous: A responsive HTML5 website template collect from www.cssmoban.com
	Released for free under the Creative Commons Attribution 3.0 license 
	Visit for more great templates or follow us on Twitter @HTML5T
*/

/*********************************************************************************/
/* 1000px (> 480px && < 1200px)                                                  */
/*********************************************************************************/

