
.ei-slider { position: relative; width: 100%; max-width: 1920px; height: 100%; margin: 0 auto; }

.ei-slider-loading { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index:999; background: rgba(0, 0, 0, 0.9); color: #fff; text-align: center; line-height: 400px; }

.ei-slider-large { height: 100%; width: 100%; position:relative; overflow: hidden; }

.ei-slider-large li { position: absolute; top: 0px; left: 0px; overflow: hidden; height: 100%; width: 100%; }

.ei-slider-large li img { width: 100%; }

.ei-title { position: absolute; right: 50%; margin-right: 13%; top: 30%; }

.ei-title h2, .ei-title h3 { text-align: right; }

.ei-title h2 { font-size: 40px; line-height: 50px; font-family: 'Arial', serif; font-style: italic; color: #777; }

.ei-title h3 { font-size: 70px; line-height: 70px; font-family: 'Arial', sans-serif; text-transform: uppercase; color: #000; }

.ei-slider-thumbs { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); height: 10px; margin: 0 5px; position: relative; top: -42px; z-index: 999; }

.ei-slider-thumbs li { position: relative; float: left; height: 100%; }

.ei-slider-thumbs li.ei-slider-element { top: 0px; left: 0px; position: absolute; height: 100%; z-index: 10; text-indent: -9000px; background: none repeat scroll 0 0 #8FB2FF; }

.ei-slider-thumbs li a { display: block; text-indent: -9000px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1); width: 100%; height: 100%; cursor: pointer; -webkit-box-shadow: 
 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow: 
 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 1px rgba(0, 0, 0, 0.1); box-shadow: 
 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 1px rgba(0, 0, 0, 0.1); -webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -o-transition: background 0.2s ease; -ms-transition: background 0.2s ease; transition: background 0.2s ease; }

.ei-slider-thumbs li a:hover { background-color: #8FB2FF; }

.ei-slider-thumbs li img { position: absolute; bottom: 50px; opacity: 0; z-index: 999; max-width: 100%; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; -ms-transition: all 0.4s ease; transition: all 0.4s ease; -webkit-box-reflect: 
 below 0px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)) ); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.ei-slider-thumbs li:hover img { opacity: 1; bottom: 10px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

@media handheld and (max-width: 480px), screen and (max-device-width: 767px), screen and (max-width: 1024px) {
.ei-slider-thumbs {
    top: -25px;
}
}

@media screen and (max-width: 767px) {
 .ei-title {
 position: absolute;
 right: 0px;
 margin-right: 0px;
 width: 100%;
 text-align: center;
 top: auto;
 bottom: 10px;
 background: #fff;
 background: rgba(255, 255, 255, 0.9);
 padding: 5px 0;
}
 .ei-title h2, .ei-title h3 {
 text-align: center;
}
 .ei-title h2 {
 font-size: 20px;
 line-height: 24px;
}
 .ei-title h3 {
 font-size: 30px;
 line-height: 40px;
}
.ei-slider-thumbs {
    top: -15px;
}

}
