.widget_container h3{
color:#fff;
margin-bottom:30px;
padding-bottom:0px;
}

.widget_container span{
color:#fe7360;
}

.widget_container ul{
list-style:none;
}

.widget_container ul li{
padding-bottom:15px;
margin-bottom:15px;
border-bottom: 1px dashed #D3CEC8;
overflow:hidden;
}

footer .widget_container ul li{
border-bottom: 1px dashed #3e3e3e;
}


.widget_container ul li span{
font-style:italic;
font-size:12px;
}

.comment{
background-image:url(../images/comment_icon.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:25px;
}

footer .comment{
background-image:url(../images/footer_comment_icon.png);
}

.flick_widget img{
float:left;
margin-right:13px;
margin-bottom:13px;
}

aside{
padding-left:30px;
overflow:hidden;
border-left: 1px solid #D7D7D7;
}

aside .widget_container h3{
color:#282724;
}

aside .widget_container{
margin-bottom:50px;
overflow:hidden;
}

aside .widget_container:last-child{
margin-bottom:0px;
}