@charset "utf-8";


/* CSS Document */
/***************************************************
	      template by sitebee Web Develpment
***************************************************/
ol,ul {
list-style:none;
}

a img {
border:none;
}

aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

/*Global styles */
html {
width:100%;
height:100%;
}

body {
font-family:'Kite One', sans-serif;
font-size:16px;
background:#F2F2F2;
color:#3F3E3C;
margin:0 0 1px;
height:100%;
line-height:1.5;
}

p {
margin-bottom:7px;
}

a,p a {
text-decoration:none;
color:#FFF;
}

a:hover {
color:#39F;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
position:relative;
padding:0;
margin:0;
}

h1 {
font-size:50px;
}

h3 {
text-decoration:underline;
}

.cleaner {
clear:both;
width:600px;
font-size:1px;
height:20px;
}

/*Global styles */
#container {
width:960px;
background:#F2F2F2;
position:relative;
margin:0 auto;
min-height:100%;
}

#page {
width:920px;
position:relative;
margin:0 auto;
padding:15px;
}

/*header styles */
header {
height:80px;
margin-top:10px;
}

#logo {
font-size:50px;
margin:10px;
}

/* main menu styles */
nav {
position:absolute;
width:600px;
height:40px;
top:30px;
right:-80px;
}

nav ul li {
float:left;
line-height:normal;
margin-left:15px;
}

nav ul li a {
font-size:20px;
font-family:'Kite One', sans-serif;
color:#000;
text-transform:capitalize;
font-weight:400;
display:block;
/* IE6, IE7 line height fix */
background-color:transparent;
text-decoration:none;
margin-top:3px;
padding:5px;
border-bottom:3px solid #333;
}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*  box styles */
.banner {
float:left;
width:900px;
height:28px;
padding:10px;
}

.boxa {
float:left;
width:430px;
padding:20px 10px 0 20px;
}

.boxb {
float:left;
width:400px;
padding:20px 10px 0 20px;
border-left:1px dotted #DFDFDF;
}

.boxc {
float:left;
width:200px;
padding:10px 10px 0 15px;
}

.boxd {
float:left;
width:200px;
padding:10px 10px 0 15px;
border-left:1px dotted #DFDFDF;
}

.boxe {
float:left;
width:200px;
padding:10px 10px 0 15px;
border-left:1px dotted #DFDFDF;
}

.boxf {
float:left;
width:200px;
padding:10px 10px 0 15px;
border-left:1px dotted #DFDFDF;
}

/* footer styles */
footer {
height:40px;
margin-bottom:20px;
background:silver;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

footer p {
padding:10px;
font-size:18px;
font-weight:500;
}
