@charset "UTF-8";

body {
	background-color:#CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin:0 0;
}
h1, h2, h3 {
	font-weight:400;
	color:#000000;
	margin:0;
}
h1 {
	font-size:22px;
}
h2 {
	font-size:18px;
}
p, ul, ol {
	margin-top:0;
	line-height:140%;
	text-align: inherit;
}
a {
	color:#639CBF;
	text-decoration:none;
}
.list1 li {
	float:left;
	line-height:normal;
}
.list1 li img {
	margin:0 30px 30px 0;
}
.list1 li.alt img {
	margin-right:0;
}
#ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#li {
	margin-bottom:0;
	padding:0 0 10px;
}
#li ul {
	margin:0;
}
#li {
	background:url(images/bullet.jpg) no-repeat left 13px;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	padding:10px 0;
}
#li a {
	font-weight:400;
	padding:0 0 0 20px;
	text-decoration:none;
}
#li a:hover {
	font-weight:420;
	color:#666;
	text-decoration:none;
}

.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.header {
	width:1000px;
	height:90px;
	background:#ffffff;
	font-size:12px;
	text-align:left;
	margin:0 auto;
	padding:0 30px;
	
}

#page {
	width:1000px;
	background:#FFFFFF;
	margin:0 auto;
	padding:30px;
}
#content {
	float:right;
	width:700px;
	background:#FFF;
	margin:0;
	padding:10px;
}


#left {
	float:left;
	width:400px;
	margin-left:2px;
	padding: 0px 10px 30px 0px;
	display:inline;
}


#right {
	float:right;
	width:200px;
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	border-left: #FFF 2px solid;

}



#sidebar {
	float:left;
	width:250px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background:#FFF;
}
#sidebar ul {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0;
}
#sidebar li {
	margin-bottom:0;
	padding:0 0 10px;
}
#sidebar li ul {
	margin:0;
}
#sidebar li li {
	background:url(images/bullet.jpg) no-repeat left 13px;
	border-bottom:1px solid #E0E0E0;
	margin:10px;
	padding:10px 0;
}
#sidebar li li a {
	font-weight:400;
	padding:0 0 0 20px;
}
#sidebar li li a:hover {
	font-weight:420;
	color:#666;
}
#sidebar p {
	line-height:10%;
	margin:0;
	padding:0 14px;
}
#sidebar h2 {
	height:30px;
	font-size:18px;
	font-weight:400;
	color:#000000;
	margin:0 0 10px;
	padding:6px 0 2px;
}
#sidebar a {
	text-align:left;
	text-decoration:none;
	color:#666;
}
.footer {
	width:1000px;
	height:20px;
	background:#fff;
	margin:1px auto;
	padding:10px;
}
#footer p {
	text-align:left;
	font-size:14px;
	margin:20px;
	border:0px;
	padding:0px;
}
#footer a {
	text-align:left;
	text-decoration:none;
	color:#666;
}
img {
	border:0;
	margin-top:.0em;
}

