a{
	color: #CC0000;
}
a:hover{color: #5fa11f;}

.Detail{
	margin-top: 0px;
	color: #666666;
}

.Detail ul{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}

.Detail ul.detail{
	list-style-position: outside;
	list-style-type: disc;
	margin-left: 15px;
	padding: 0px;
	}
.Detail ul.detail li{
}
div.row {
	clear: left;
	margin:20px 0;
	line-height: 150%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
  }



div.row span.label {
	  }



div.row .formw {
	width: 90%;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;

	  } 
