/*
	Arcana 1.5 
*/

.button
{
	background-image: url('images/button.svg');
}

.button:hover
{
	background-image: url('images/button-hover.svg');
}

.button:active
{
	background-image: url('images/button-active.svg');
}