/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http://www.cssmoban.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}




@media only screen and (max-width: 979px) {
	#page1 .body2{background: none;}
	#menu{float: left; margin-bottom: 30px;}
	#menu li{padding-top : 20px;}
	.slider {height:auto;}
}
@media only screen and (max-width: 820px){
	
}
@media only screen and (max-width: 600px) {
}