/*
	Untitled: A responsive HTML5 website template collect from www.cssmoban.com
	Released for free under the Creative Commons Attribution 3.0 license 
	Visit for more great templates or follow us on Twitter @HTML5T
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

body {
	font-size: 9.5pt;
}

