
.rg-image-wrapper { position:relative; padding:20px 30px; background: none repeat scroll 0 0 #8FB2FF; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; min-height:20px; behavior: url(js/PIE.htc); }

.rg-image { position:relative; text-align:center; line-height:0px; }

.rg-image img { max-height:100%; max-width:100%; }

.rg-image-nav a { position:absolute; top:0px; left:0px; background:url("images/nav.png") no-repeat scroll -20% 50% #6A93AD; width:28px; height:100%; text-indent:-9000px; cursor:pointer; opacity:0.3; outline:none; -moz-border-radius: 10px 0px 0px 10px; -webkit-border-radius: 10px 0px 0px 10px; border-radius: 10px 0px 0px 10px; behavior: url(js/PIE.htc); }

.rg-image-nav a.rg-image-nav-next { right:0px; left:auto; background-position:115% 50%; -moz-border-radius: 0px 10px 10px 0px; -webkit-border-radius: 0px 10px 10px 0px; border-radius: 0px 10px 10px 0px; }

.rg-image-nav a:hover { opacity:0.8; }

.rg-caption { text-align:center; margin-top:15px; position:relative; }

.rg-caption p { font-size:11px; letter-spacing:2px; font-family:Arial, sans-serif; line-height:16px; padding:0 15px; text-transform:uppercase; color:#FFF; }

.rg-view { height:30px; }

.rg-view a { display:block; float:right; width:16px; height:16px; margin-right:3px; background:#000 url(images/views.png) no-repeat top left; border:3px solid #000; opacity:0.8; }

.rg-view a:hover { opacity:1.0; }

.rg-view a.rg-view-full { background-position:0px 0px; }

.rg-view a.rg-view-selected { background-color:#000; border-color:#000; }

.rg-view a.rg-view-thumbs { background-position:0px -16px; }

.rg-loading { width:46px; height:46px; position:absolute; top:50%; left:50%; background:#000 url(images/ajax-loader.gif) no-repeat center center; margin:-23px 0px 0px -23px; z-index:100; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; opacity:0.7; }
