/****Form****/

#form {
	padding-top: 3px;

}

#form input {
	font-size:16px;
	color:#5e5e5e;
	line-height: 20px;
	 border: 1px solid #e6e4e4;
 padding: 5px 14px;
 	box-shadow: 0 4px 3px  #dedede;
	width: 100%;
	height: 30px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
	font-size:16px;
	color:#5e5e5e;
	height: 273px;
	overflow: auto;
	 border: 1px solid #e6e4e4;
 padding: 5px 14px;
 	box-shadow: 0 4px 3px  #dedede;
	line-height: 20px;
	width: 100%;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	
}
#form label {
	position:relative;
	display: block;
	min-height: 45px;
	width: 220px;
	float: left;
}




#form .error, #form .empty {
	color: #FF0000;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 8px;
	float:left;
}


#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	padding-top: 30px;
	text-align: left;

}


.content .btns a.btn {
	margin: 0 16px 0px 0px !important;
	cursor: pointer;
	min-width: 10px;



}

.content .btns a:first-child {
	margin-left: 0 !important;
}

#form .message {
	width: 100%;
}


.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
	width: 220px;
	background: #fff;
	border: 1px solid #e6e4e4;
	text-align: center;
	color: #5e5e5e;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}



.success_wrapper {
	position: relative;	
}