a.btn, .price, .sf-menu>li>a, .sf-menu li ul li a { behavior:url(js/PIE.htc); position:relative;}

.portfolio a:hover img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

.socials a:hover{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.sf-menu>li>a{
	background: url(../images/spacer.png) 0 0 repeat;
}