/**
  * Page Headline
  ***************************************/
.page_headline { border-bottom: 1px solid #E1E1E1; display: block; font-family: "PT Sans", Arial, Tahoma; margin: 15px 0; padding: 0 0 4px; }

/**
  * Blockquote
  ***************************************/
blockquote { border-left:3px solid #E1E1E1; padding-left:20px; }
blockquote p { font-size:13px; }
blockquote h5 { font-size:14px; font-weight: bold; }
blockquote h5 span { color:#86ae3f; font-weight:normal; }

/**
  * Dropcaps
  ***************************************/
.dropcap { display:inline-block; float:left; width:36px; background:#EAEAEA; color:#4c4c4c; font-family:Arial, Tahoma, Verdana; font-size:23px; font-weight:600; }
.dropcap {  height:36px; line-height:36px; margin:0 7px 0 0; text-align:center; }
.dropcap.dark { background:#4c4c4c; color:#fff; }


/**
  * Images
  ***************************************/
img.align_left, img.align_right { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2); padding: 2px; }
img.align_left { float: left; margin-bottom: 15px; margin-right: 20px; }
img.align_right { float: right; margin-bottom: 15px; margin-left: 20px; }


/**
  * Buttons
  ***************************************/
.button.medium { font-size:14px; padding:9px 23px; }
.button.green.medium { font-size:14px; padding:9px 23px; }

.button.large { font-size:15px; padding:11px 26px; }
.button.green.large { font-size:15px; padding:11px 26px; }
  
  
.button.green { 
    background-color: #7FBF4D;
    background-image: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
    border-color: #63A62F #63A62F #5B992B;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #96CA6D inset;
    color: #FFFFFF;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 20px;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow:0 -1px #4C9021;
}

.button.green:hover {
	background-color: #76B347;
	color:#fff;
    background-image: -moz-linear-gradient(center top , #76B347, #5E9E2E);
    box-shadow: 0 1px 0 0 #8DBF67 inset;
    cursor: pointer;
}


/**
  * Alerts
  ***************************************/  
.alert { width:100%; font-family:Arial, Tahoma, Verdana; line-height:45px; text-align:center; }
.error { background:#FFD6D6; border:1px solid #FFC2C2; color:#C24848; margin:15px 0; }
.success { background:#D7F7DF; border:1px solid #A3F7B8; color:#3F9153; margin:15px 0; }
.info { background:#DCEFF5; border:1px solid #B8E7F5; color:#478BBF; margin:15px 0; }
.warning { background:#FAF2D7; border:1px solid #FAE8AF; color:#CF9E00; margin:15px 0; }


/**
  * Tabs
  ***************************************/  
.tabs_nav { width:100%; list-style:none; }
.tabs_nav li { float:left; margin:0; padding:0; }
.tabs_nav li a:first-child { border-left:1px solid #dedede; }
.tabs_nav li a { display:block; background:#f6f6f6; border:1px solid #dedede; color:#999; padding:5px 16px; text-decoration:none; border-left:none; }
.tabs_nav li.active a { background:#fff; border-bottom:2px solid #fff; color:#86ae3f; border-top:1px solid #86ae3f; }
.tab_container { width: 100%; border:1px solid #DEDEDE; margin:44px 0 20px; }
.tab_container .tab_content { padding:15px; }

/**
  * Accordion
  ***************************************/  
.accordion { border:1px solid #dedede; }
.accordion h3 { background:url(../images/acc_bg.png) center left no-repeat #fafafa; border-top:1px solid #dedede; padding-left:20px; color:#999; font-size:16px; }
.accordion h3 { margin-bottom:0; cursor:pointer; }
.accordion h3.active { background:url(../images/acc_bg_active.png) center left no-repeat #fafafa; color:#86AE3F; }
.accordion h3:first-child { border-top:none; }
.accordion .acc_content { display:none; background:#fff; padding:5px; border-top:1px solid #dedede; }

.divider2 { width:100%; height:7px; background:url(../images/divider2.png); margin-top:10px; margin-bottom:10px; }