@charset "utf-8";
/* CSS Document */
/**
* Tabs on sidebar need to be adjusted
*/
.body .sidebar .tabbed-area .tcontent {width:95%;}
/**
* Custom Input Fields Require Adjustments
*/
.search .search-box {top:6px;}
/**
* Miscellaneous Padding/Margin Optimization
*/
.body .sidebar ul.img-list li {margin:0 0 15px 10px}
.footer ul.stream li {padding-right:71px;}
.header .page-title {margin:0 auto 25px auto;}
.footer .logo-caption-overlay {left:10px;}
.body .blog.post form input {height:23px;padding-top:7px;}
.slidewrap {position:relative;}
.testimonials.style-2 li {margin:0;padding:0;left:0;position:relative;}
.testimonials.style-2 .source {display:block;zoom:1;left:4%;}
.footer.style-2 .background {left:0;}
.footer.style-2 .foot-nav-bg {left:0;z-index:-1;}
.callout.intext {display:block;zoom:1}
.title-wrapper {z-index:200;}
.section-title {z-index:202;}
.title-wrapper span.divider {z-index:201;}
.header .logo {height:60px;}
.header div.menu-wrapper {margin-top:20px;}
.header .menu li.submenu ul.child {margin-top:49px;}
/**
* Things Hidden in IE7
*/
.i-7-h {display:none;}