*+html{overflow:auto;}

.img-box, .main {behavior:url(js/PIE.htc);position:relative}
.mp-prev:hover, .mp-next:hover, .social-list li a:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}
.cs-prev:hover, .cs-next:hover, .fc-button-next:hover, .fc-button-prev:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}


