
#sidebar .thumbs,
#footer .thumbs { 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}

#sidebar .thumbs{
	margin-left: 15px;
	padding-top: 25px;
	margin-bottom: 25px;
	background: url(../img/sidebar-divider.png) no-repeat; 
}

#footer .thumbs {
	margin: 0px;
}

#sidebar .thumbs li,
#footer .thumbs li { 
	list-style: none; 
	float: left; 
	margin: 1px; 
	padding: 1px; 
	background: #eee; 
	-moz-box-shadow: 0 0 4px #444; 
	-webkit-box-shadow: 0 0 2px #000; 
}

#footer .thumbs li{
	margin-right: 15px; 	
	margin-bottom: 15px; 
}


.thumbs li a { }

.thumbs li img { display: block; }

.thumbs li a img { border: none;}

#cycle { 
	margin: 0; 
	padding: 0; 
	width: 500px; 
	height: 333px; 
	padding: 3px; 
	background: #eee; 
	-moz-box-shadow: 0 0 2px #000; 
	-webkit-box-shadow: 0 0 2px #000;
}

#cycle li { 
	position: relative; 
	list-style: none; 
	margin: 0; 
	padding: 3px; 
	width: 500px; 
	height: 333px; 
	overflow: hidden; 
}

#cycle li div { 
	position: absolute; 
	bottom: 3px; 
	left: 3px; 
	padding: 3px; 
	width: 494px; 
	background: black; 
	color: white; 
	font-size: 12px; 
	opacity: .8; 
}
