.top {width:320px; margin:auto; border-bottom:3px solid #FF4E00;}
.top img {vertical-align:top;}

.header {height:133px; background:#FBFBFB url(../img/header-bg.png) repeat-x 0 0;}
.logo {height:73px; margin-bottom:5px; background:url(../img/logo.png) no-repeat center 0;}
.search {width:280px; height:28px; margin:auto; border:1px solid #CCC; border-radius:4px;}
.search .keywords {width:238px; height:28px; padding:0 3px; border:0 none; -moz-box-shadow:2px 2px 2px #eee inset; -webkit-box-shadow:2px 2px 2px #eee inset; box-shadow:2px 2px 2px #eee inset; vertical-align:top;}
.search .submit {width:35px; height:28px; border:0 none; border-left:1px solid #ccc; background:url(../img/search-submit.png) no-repeat 0 0; vertical-align:top;}

.business {width:320px; height:159px; margin:auto; padding-bottom:30px;}
.business-items li {float:left; width:79px; height:79px; margin:0 1px 1px 0; overflow:hidden;}
.business-items li img {float:left;}
.business-meiwei .business-items li:nth-child(1) {margin-left:160px;}
.business-legou .business-items li:nth-child(1) {margin-right:161px;}
.business-haowan .business-items li:nth-child(2) {margin-right:161px;}
.business .viewmore {width:159px; height:79px; margin-top:-160px;}
.business .viewmore a {display:block; width:159px; height:79px; text-indent:-9999px;}
.business-meiwei .viewmore {background:url(../img/meiwei.png) no-repeat 0 0;}
.business-legou .viewmore {margin-left:80px; background:url(../img/legou.png) no-repeat 0 0;}
.business-haowan .viewmore {margin-left:160px; background:url(../img/haowan.png) no-repeat 0 0;}

.app {width:320px; margin:auto;}
.app .hd {height:45px; margin-bottom:5px; background:#6AADDB url(../img/app-hd.png) no-repeat 0 0;}
.app .hd .title {display:block; width:100%; height:45px; text-indent:-9999px;}
.app .infolist-pic {width:320px; height:160px; overflow:hidden;}
.app .infolist-pic-items li {float:left; width:70px; height:70px; padding:5px;}
.app-nav {height:7px; padding:5px 10px; text-align:center;}
.app-nav li {display:inline-block; width:7px; height:7px; overflow:hidden; background:url(../img/app-nav.png) no-repeat -10px 0;}
.app-nav .c {background-position:0 0;}

.banner {width:320px; height:72px; padding:20px 0; margin:auto;}
.banner-items li {float:left; width:159px; height:72px; margin-right:1px;}

.user {width:310px; padding:0 5px; margin:0 auto 10px; font:14px/20px arial; color:#0161D1;}
.user a {margin:0 5px; font:14px/20px arial; color:#0161D1;}
.user .gototop {font-size:12px; color:#666;}

.footer {height:85px; padding:10px 0 0; background:url(../img/footer.png) repeat-x 0 0; text-align:center; font:12px/30px arial; color:#666;}
.footer a {margin:0 10px; font-size:14px; color:#0161D1;}