/*
	Verti 1.0 
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left img
	{
		display: inline;
		width: auto;
	}
	
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
		#logo a
		{
			color: #fff;
		}