/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.cssmoban.com/
*/
/* ---------------------Reset----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #FFFFFF ;color: #474747;font: 12px/25px Arial, Helvetica, sans-serif;}

/*-------------------------*/
a{color: #E36C0A ;text-decoration: none;}
a:hover {text-decoration: none;}

a.button, input.button {	cursor: pointer;	color: #ffffff;	line-height: 14px;	font-family: Arial, Helvetica, sans-serif;	font-size: 14px;	font-weight: bold;	background: #598084;	border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
input.button {	margin: 0;	border: 0;	height: 24px;	padding: 0px 12px 0px 12px;}
a.button:hover, input.button:hover {}

.clearboth{ clear:both;}

/*-------------header */
.wrap-header{width:100%; background-color:#303030;}
header {width:960px;height: 130px; position:relative; margin: 0px auto;}

header #logo {position:absolute; top:40px; left: 30px; width: 100%;}

/*------------menu */
header nav {position:absolute;top:50px; right:50px;height: 37px;}
header nav ul {list-style: none;margin: 0;padding: 0;}
header nav ul li {position: relative;float: left;padding: 6px 5px 0px 5px; border-right:1px dotted #FFF;}
header nav ul li:hover, header nav ul li.current {background-color:#E36C0A;}
header nav ul li a {font-size: 14px; line-height:14px;color: #CCC;display: block;padding: 0px 10px;margin-bottom: 5px;z-index: 6;position: relative;font-weight:bold; text-transform:uppercase;}
header nav ul li:hover a, header nav ul li.current a{color:#ffffff;}

.featured{width:960px; margin:50px auto 0 auto; padding-bottom:50px; margin-bottom:10px; border-bottom:1px dotted #9A9A9A;}

.wrap-search{position:relative; padding-bottom:50px;}
#search {position: absolute;left: 0px;width: 265px;z-index: 15;}
.button-search {position: absolute;	right: 0px;	background: #666666 url('../images/search2.png') center center no-repeat;	width: 35px;	height: 34px;	border-left: 1px solid #CCCCCC;	cursor: pointer;}
#search input {	background: #FFF;	padding: 1px 24px 1px 10px;	width: 222px;	height: 30px;	border: 1px solid #CCCCCC;}

.social{}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*-------------content */
#content {}

#main-content{}
#main-content article{ clear:both; font-size:14px; padding-bottom:20px; border-bottom:1px dotted #9A9A9A; margin-bottom:10px;}
#main-content article .heading{}
#main-content article h2{font-size:26px; line-height:36px;}
#main-content article h2 a{color:#474747;}
#main-content article h2 a:hover{color:#E36C0A;}
#main-content article .info{color:#A3A3A3;}
#main-content article .info ul li{ float:left; padding-right:20px;}
#main-content article .info ul li span{ color:#E36C0A;}
#main-content article img{width: 600px; padding:10px; border:1px solid #CCC; margin:10px 0px;}
#main-content article p{margin:10px 0px;}
#main-content article .more{}

#sidebar{}
#sidebar section{margin-bottom:20px; clear:both;}
#sidebar .heading{ padding:10px 0px 10px 0px; background:url(../images/bg-heading.png) repeat-x 50%;}
#sidebar .heading h2{font-size:22px; font-weight:normal; background-color:#ffffff; display:inline; padding:0 10px;}
#sidebar .content{padding:15px}
#sidebar .content img{float:left; padding:5px; border:1px solid #CCC;}
#sidebar .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
#sidebar .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#sidebar .content ul li a{color:#474747;}
#sidebar .content ul li a:hover{color:#E36C0A;}
#sidebar .content .post {margin-bottom: 20px;}
#sidebar .content .post h4{ font-size:14px; font-weight:normal;}
#sidebar .content .post img{ margin-right:10px;}
#sidebar .content .post p{color:#A3A3A3; font-style:italic;}

/*------------footer */ 
.wrap-footer{width:100%; background:#303030 url(../images/border-footer.png) repeat-x; height:70px;}
footer {width:960px; margin:0 auto; color:#777777; padding-top:20px; text-align:center;}

/*------------gallery*/
.gallery {}
.gallery a {display: block;	float: left;margin: 0px 10px 10px 0px;position: relative;
	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
/*.gallery a:nth-child(3n+2) {margin: 0 25px 25px 25px;}*/

.gallery a img {display: block;	-webkit-transition: all 0.5s;}

/*Hover effects*/
.gallery a img:hover {-webkit-filter: none; /*Returns to default state*/}

/*Default state for brightness has to be specified specifically*/
.gallery a img.brightness:hover {-webkit-filter: brightness(0);}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}