@font-face {
    font-family: 'MerriweatherRegular';
    src: url('merriweather/merriweather-webfont.eot');
    src: url('merriweather/merriweather-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweather/merriweather-webfont.woff') format('woff'),
         url('merriweather/merriweather-webfont.ttf') format('truetype'),
         url('merriweather/merriweather-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

