#blue_rave-main
{
   background: #59B1C5;
   background: linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background: -webkit-linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background: -moz-linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background: -o-linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background: -ms-linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background: linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   -svg-background: linear-gradient(top, #358597 0, #42A6BD 78px, #95CDDA 250px) no-repeat;
   background-attachment: fixed !important;
   margin:0 auto;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.blue_rave-hmenu
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.blue_rave-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #7B8F93;
   background: linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   background: -webkit-linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   background: -moz-linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   background: -o-linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   background: -ms-linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   background: linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   -svg-background: linear-gradient(top, #97A7AA 0, #73888C 65%, #637579 100%) no-repeat;
   -webkit-border-radius:12px;
   -moz-border-radius:12px;
   border-radius:12px;
   padding:0 20px;
   margin:0 auto;
   height:30px;
}

.blue_rave-postcontent,
.blue_rave-postheadericons,
.blue_rave-postfootericons,
.blue_rave-blockcontent,
ul.blue_rave-vmenu a 
{
   text-align: left;
}

.blue_rave-postcontent,
.blue_rave-postcontent li,
.blue_rave-postcontent table,
.blue_rave-postcontent a,
.blue_rave-postcontent a:link,
.blue_rave-postcontent a:visited,
.blue_rave-postcontent a.visited,
.blue_rave-postcontent a:hover,
.blue_rave-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.blue_rave-postcontent p
{
   margin: 13px 0;
}

.blue_rave-postcontent h1, .blue_rave-postcontent h1 a, .blue_rave-postcontent h1 a:link, .blue_rave-postcontent h1 a:visited, .blue_rave-postcontent h1 a:hover,
.blue_rave-postcontent h2, .blue_rave-postcontent h2 a, .blue_rave-postcontent h2 a:link, .blue_rave-postcontent h2 a:visited, .blue_rave-postcontent h2 a:hover,
.blue_rave-postcontent h3, .blue_rave-postcontent h3 a, .blue_rave-postcontent h3 a:link, .blue_rave-postcontent h3 a:visited, .blue_rave-postcontent h3 a:hover,
.blue_rave-postcontent h4, .blue_rave-postcontent h4 a, .blue_rave-postcontent h4 a:link, .blue_rave-postcontent h4 a:visited, .blue_rave-postcontent h4 a:hover,
.blue_rave-postcontent h5, .blue_rave-postcontent h5 a, .blue_rave-postcontent h5 a:link, .blue_rave-postcontent h5 a:visited, .blue_rave-postcontent h5 a:hover,
.blue_rave-postcontent h6, .blue_rave-postcontent h6 a, .blue_rave-postcontent h6 a:link, .blue_rave-postcontent h6 a:visited, .blue_rave-postcontent h6 a:hover,
.blue_rave-blockheader .t, .blue_rave-blockheader .t a, .blue_rave-blockheader .t a:link, .blue_rave-blockheader .t a:visited, .blue_rave-blockheader .t a:hover,
.blue_rave-vmenublockheader .t, .blue_rave-vmenublockheader .t a, .blue_rave-vmenublockheader .t a:link, .blue_rave-vmenublockheader .t a:visited, .blue_rave-vmenublockheader .t a:hover,
.blue_rave-headline, .blue_rave-headline a, .blue_rave-headline a:link, .blue_rave-headline a:visited, .blue_rave-headline a:hover,
.blue_rave-slogan, .blue_rave-slogan a, .blue_rave-slogan a:link, .blue_rave-slogan a:visited, .blue_rave-slogan a:hover,
.blue_rave-postheader, .blue_rave-postheader a, .blue_rave-postheader a:link, .blue_rave-postheader a:visited, .blue_rave-postheader a:hover
{
   font-size: 30px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: bold;
   font-style: normal;
   line-height: 120%;
}

.blue_rave-postcontent a, .blue_rave-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #92C171;
}

.blue_rave-postcontent a:visited, .blue_rave-postcontent a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #A8B5B8;
}

.blue_rave-postcontent  a:hover, .blue_rave-postcontent a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #8FA0A3;
}

.blue_rave-postcontent h1
{
   color: #8FA0A3;
   margin: 10px 0 0;
   font-size: 30px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 30px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h1 a, .blue_rave-postcontent h1 a:link, .blue_rave-postcontent h1 a:hover, .blue_rave-postcontent h1 a:visited, .blue_rave-blockcontent h1 a, .blue_rave-blockcontent h1 a:link, .blue_rave-blockcontent h1 a:hover, .blue_rave-blockcontent h1 a:visited 
{
   font-size: 30px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h2
{
   color: #8FA0A3;
   margin: 10px 0 0;
   font-size: 28px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 28px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h2 a, .blue_rave-postcontent h2 a:link, .blue_rave-postcontent h2 a:hover, .blue_rave-postcontent h2 a:visited, .blue_rave-blockcontent h2 a, .blue_rave-blockcontent h2 a:link, .blue_rave-blockcontent h2 a:hover, .blue_rave-blockcontent h2 a:visited 
{
   font-size: 28px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h3
{
   color: #A8B5B8;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h3 a, .blue_rave-postcontent h3 a:link, .blue_rave-postcontent h3 a:hover, .blue_rave-postcontent h3 a:visited, .blue_rave-blockcontent h3 a, .blue_rave-blockcontent h3 a:link, .blue_rave-blockcontent h3 a:hover, .blue_rave-blockcontent h3 a:visited 
{
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h4
{
   color: #C7CFD1;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h4 a, .blue_rave-postcontent h4 a:link, .blue_rave-postcontent h4 a:hover, .blue_rave-postcontent h4 a:visited, .blue_rave-blockcontent h4 a, .blue_rave-blockcontent h4 a:link, .blue_rave-blockcontent h4 a:hover, .blue_rave-blockcontent h4 a:visited 
{
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h5
{
   color: #C7CFD1;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h5 a, .blue_rave-postcontent h5 a:link, .blue_rave-postcontent h5 a:hover, .blue_rave-postcontent h5 a:visited, .blue_rave-blockcontent h5 a, .blue_rave-blockcontent h5 a:link, .blue_rave-blockcontent h5 a:hover, .blue_rave-blockcontent h5 a:visited 
{
   font-size: 16px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h6
{
   color: #788D91;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.blue_rave-postcontent h6 a, .blue_rave-postcontent h6 a:link, .blue_rave-postcontent h6 a:hover, .blue_rave-postcontent h6 a:visited, .blue_rave-blockcontent h6 a, .blue_rave-blockcontent h6 a:link, .blue_rave-blockcontent h6 a:hover, .blue_rave-blockcontent h6 a:visited 
{
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

header, footer, article, nav, #blue_rave-hmenu-bg, .blue_rave-sheet, .blue_rave-hmenu a, .blue_rave-vmenu a, .blue_rave-slidenavigator > a, .blue_rave-checkbox:before, .blue_rave-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #blue_rave-hmenu-bg, .blue_rave-sheet, .blue_rave-slidenavigator > a, .blue_rave-checkbox:before, .blue_rave-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #C7CFD1;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .blue_rave-postcontent li h1, .blue_rave-blockcontent li h1 
{
   margin:1px;
} 
li h2, .blue_rave-postcontent li h2, .blue_rave-blockcontent li h2 
{
   margin:1px;
} 
li h3, .blue_rave-postcontent li h3, .blue_rave-blockcontent li h3 
{
   margin:1px;
} 
li h4, .blue_rave-postcontent li h4, .blue_rave-blockcontent li h4 
{
   margin:1px;
} 
li h5, .blue_rave-postcontent li h5, .blue_rave-blockcontent li h5 
{
   margin:1px;
} 
li h6, .blue_rave-postcontent li h6, .blue_rave-blockcontent li h6 
{
   margin:1px;
} 
li p, .blue_rave-postcontent li p, .blue_rave-blockcontent li p 
{
   margin:1px;
}


.blue_rave-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.blue_rave-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.blue_rave-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.blue_rave-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.blue_rave-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 15px;
  left: 7.32%;
  line-height: 100%;
  margin-left: -16px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.blue_rave-headline, 
.blue_rave-headline a, 
.blue_rave-headline a:link, 
.blue_rave-headline a:visited, 
.blue_rave-headline a:hover
{
font-size: 48px;
font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 0px 0px 6px rgba(23, 23, 23, 0.98);
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}






.blue_rave-header
{
   margin:0 auto;
   position:relative;
   height: 100px;
   background-image: url('images/header.png');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .blue_rave-header 
{
   background-image: url('images/header.png');
   background-position: center center;
}

.blue_rave-header-inner{
   position: relative;
   width: 960px;
   z-index: auto !important;
   margin: 0 auto;
}

.blue_rave-header>.widget 
{
   position:absolute;
   z-index:101;
}

.blue_rave-nav
{
   z-index: 100;
   font-size: 0;
   position: absolute;
   margin: 0;
   top:   0;
   width: 100%;
}

ul.blue_rave-hmenu a, ul.blue_rave-hmenu a:link, ul.blue_rave-hmenu a:visited, ul.blue_rave-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.blue_rave-hmenu, ul.blue_rave-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.blue_rave-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.blue_rave-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.blue_rave-hmenu:after, ul.blue_rave-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.blue_rave-hmenu, ul.blue_rave-hmenu ul 
{
   min-height: 0;
}

ul.blue_rave-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.blue_rave-nav-inner:before 
{
   content:' ';
}

.blue_rave-nav-inner{
   text-align: right;
   margin:0 auto;
}

.desktop-nav .blue_rave-nav-inner{
   width: 960px;
   padding-left: 0;
   padding-right: 0;
}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.desktop-nav.blue_rave-nav
{
   padding-left: 0;
   padding-right: 0;
}

.blue_rave-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.blue_rave-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.blue_rave-hmenu
{
   float: right;
}

.blue_rave-menuitemcontainer
{
   margin:0 auto;
}
ul.blue_rave-hmenu>li {
   margin-left: 0;
}
ul.blue_rave-hmenu>li:first-child {
   margin-left: 0;
}
ul.blue_rave-hmenu>li:last-child, ul.blue_rave-hmenu>li.last-child {
   margin-right: 0;
}

ul.blue_rave-hmenu>li>a
{
   padding:0 35px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 52px;
   cursor: pointer;
   text-decoration: none;
   color: #131E20;
   line-height: 52px;
   text-align: center;
}

.blue_rave-hmenu a, 
.blue_rave-hmenu a:link, 
.blue_rave-hmenu a:visited, 
.blue_rave-hmenu a.active, 
.blue_rave-hmenu a:hover
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.blue_rave-hmenu>li>a.active
{
   padding:0 35px;
   margin:0 auto;
   color: #243517;
   text-decoration: none;
}

ul.blue_rave-hmenu>li>a:visited, 
ul.blue_rave-hmenu>li>a:hover, 
ul.blue_rave-hmenu>li:hover>a {
   text-decoration: none;
}

ul.blue_rave-hmenu>li>a:hover, .desktop ul.blue_rave-hmenu>li:hover>a
{
   background: #77B14E;
   background: linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   background: -webkit-linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   background: -moz-linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   background: -o-linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   background: -ms-linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   background: linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   -svg-background: linear-gradient(top, #7AB351 0, #7DB455 40%, #7DB455 80%, #77B14E 84%, #649541 100%) no-repeat;
   padding:0 35px;
   margin:0 auto;
}
ul.blue_rave-hmenu>li>a:hover, 
.desktop-nav ul.blue_rave-hmenu>li:hover>a {
   color: #252C2D;
   text-decoration: none;
}

ul.blue_rave-hmenu li li a
{
   background: #65787B;
   background: transparent;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border:1px solid transparent;
   padding:0 22px;
   margin:0 auto;
}
ul.blue_rave-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 4px;
   margin-bottom: 4px;
}

.desktop-nav ul.blue_rave-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.blue_rave-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.blue_rave-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 25px;
   color: #1A2711;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.blue_rave-hmenu ul a:link, 
.blue_rave-hmenu ul a:visited, 
.blue_rave-hmenu ul a.active, 
.blue_rave-hmenu ul a:hover
{
   text-align: left;
   line-height: 25px;
   color: #1A2711;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.blue_rave-hmenu ul li a:hover, .desktop ul.blue_rave-hmenu ul li:hover>a
{
   background: #3C4749;
   background: rgba(60, 71, 73, 0.8);
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border:1px solid #505F62;
   margin:0 auto;
}
.blue_rave-hmenu ul a:hover
{
   text-decoration: none;
}

.blue_rave-hmenu ul li a:hover
{
   color: #AEBABC;
}

.desktop-nav .blue_rave-hmenu ul li:hover>a
{
   color: #AEBABC;
}

ul.blue_rave-hmenu ul:before
{
   background: #94A5A8;
   -webkit-border-radius:0 0 3px 3px;
   -moz-border-radius:0 0 3px 3px;
   border-radius:0 0 3px 3px;
   border:1px solid rgba(101, 120, 123, 0.6);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.blue_rave-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.blue_rave-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.blue_rave-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.blue_rave-hmenu>li>ul
{
   padding: 21px 36px 36px 36px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.blue_rave-hmenu ul ul
{
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.blue_rave-hmenu ul.blue_rave-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.blue_rave-hmenu ul.blue_rave-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.blue_rave-hmenu li li:hover>ul.blue_rave-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.blue_rave-hmenu li li:hover>ul.blue_rave-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.blue_rave-hmenu ul ul.blue_rave-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.blue_rave-hmenu ul ul.blue_rave-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 36px 18px 36px 36px;
   margin: -36px -5px 0 0;
}

.desktop-nav ul.blue_rave-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.blue_rave-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.blue_rave-hmenu ul ul:before
{
   border-radius: 3px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop-nav ul.blue_rave-hmenu>li>ul:before
{
   top: 15px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.blue_rave-hmenu>li>ul.blue_rave-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.blue_rave-hmenu>li>ul.blue_rave-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.blue_rave-hmenu ul ul.blue_rave-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop-nav ul.blue_rave-hmenu ul ul.blue_rave-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.blue_rave-sheet
{
   background: #3C4749;
   background: rgba(60, 71, 73, 0.98);
   -webkit-border-radius:0 0 5px 5px;
   -moz-border-radius:0 0 5px 5px;
   border-radius:0 0 5px 5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   border:1px solid #345056;
   border-top:none;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 960px;
   z-index: auto !important;
}

.blue_rave-layout-wrapper
{
   position: relative;
   margin: 15px auto 0 auto;
   z-index: auto !important;
}

.blue_rave-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.blue_rave-content-layout-row 
{
   display: table-row;
}

.blue_rave-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.blue_rave-block
{
   margin:12px;
}
div.blue_rave-block img
{
   border: none;
   margin: 7px;
}

.blue_rave-blockheader
{
   padding:6px 5px;
   margin:0 auto;
}
.blue_rave-blockheader .t,
.blue_rave-blockheader .t a,
.blue_rave-blockheader .t a:link,
.blue_rave-blockheader .t a:visited, 
.blue_rave-blockheader .t a:hover
{
   color: #9FBFC6;
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: bold;
   font-style: normal;
   margin: 0 10px;
}

.blue_rave-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #C7CFD1;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}
.blue_rave-blockcontent table,
.blue_rave-blockcontent li, 
.blue_rave-blockcontent a,
.blue_rave-blockcontent a:link,
.blue_rave-blockcontent a:visited,
.blue_rave-blockcontent a:hover
{
   color: #C7CFD1;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.blue_rave-blockcontent p
{
   margin: 0 5px;
}

.blue_rave-blockcontent a, .blue_rave-blockcontent a:link
{
   color: #80A9B3;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.blue_rave-blockcontent a:visited, .blue_rave-blockcontent a.visited
{
   color: #BEC8CA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.blue_rave-blockcontent a:hover, .blue_rave-blockcontent a.hover
{
   color: #59B1C5;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
}
.blue_rave-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -10px;
}
.opera .blue_rave-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-block li
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #B9C4C6;
}

.blue_rave-block ul>li, .blue_rave-block ol
{
   padding: 0;
}

.blue_rave-block ul>li
{
   padding-left: 10px;
}

.blue_rave-breadcrumbs
{
   margin:0 auto;
}

a.blue_rave-button,
a.blue_rave-button:link,
a:link.blue_rave-button:link,
body a.blue_rave-button:link,
a.blue_rave-button:visited,
body a.blue_rave-button:visited,
input.blue_rave-button,
button.blue_rave-button
{
   text-decoration: none;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #191E1F;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 30px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.blue_rave-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .blue_rave-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.blue_rave-block select 
{
   width:96%;
}

input.blue_rave-button
{
   float: none !important;
}

.blue_rave-button.active, .blue_rave-button.active:hover
{
   background: #345056;
   background: linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(73, 112, 121, 0.8) 0, rgba(31, 47, 51, 0.8) 100%) no-repeat;
   -webkit-border-radius:12px;
   -moz-border-radius:12px;
   border-radius:12px;
   border:1px solid #65787B;
   padding:0 20px;
   margin:0 auto;
}
.blue_rave-button.active, .blue_rave-button.active:hover {
   color: #D5DBDD !important;
}

.blue_rave-button.hover, .blue_rave-button:hover
{
   background: #77B14E;
   background: linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   background: -moz-linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   background: -o-linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   background: -ms-linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   background: linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   -svg-background: linear-gradient(top, #92C171 0, #77B14E 50%, #5F8E3E 100%) no-repeat;
   -webkit-border-radius:12px;
   -moz-border-radius:12px;
   border-radius:12px;
   border:1px solid #5D8A3D;
   padding:0 20px;
   margin:0 auto;
}
.blue_rave-button.hover, .blue_rave-button:hover {
   color: #152023 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #3C4749;
   background: rgba(60, 71, 73, 0.5);
   border:1px solid #607276;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 6px 0;
   color: #C7CFD1 !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}
input.blue_rave-error, textarea.blue_rave-error
{
   background: #3C4749;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.blue_rave-error, textarea.blue_rave-error {
   color: #C7CFD1 !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}
form.blue_rave-search input[type="text"]
{
   background: #3C4749;
   background: rgba(60, 71, 73, 0.5);
   border-radius: 0;
   border:1px solid #607276;
   margin:0 auto;
   width: 100%;
   padding: 6px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #C7CFD1 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.blue_rave-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.blue_rave-search input
{
   top:0;
   right:0;
}

form.blue_rave-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.blue_rave-search input[type="submit"]
{
   margin:0 auto;
   color: #191E1F !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.blue_rave-checkbox:before
{
   background: #65787B;
   background: linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   background: -webkit-linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   background: -moz-linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   background: -o-linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   background: -ms-linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   background: linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   -svg-background: linear-gradient(top, #768A8F 0, #73888C 10%, #6A7D81 50%, #5A6A6D 50%, #65787B 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #65787B;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.blue_rave-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.blue_rave-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.blue_rave-checkbox.active:before
{
   background: #59B1C5;
   background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -webkit-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -moz-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -o-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -ms-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   -svg-background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #65787B;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.blue_rave-checkbox.hovered:before
{
   background: #5A8B96;
   background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -webkit-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -moz-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -o-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -ms-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   -svg-background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #65787B;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.blue_rave-radiobutton:before
{
   background: #3C4749;
   background: linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   background: -webkit-linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   background: -moz-linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   background: -o-linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   background: -ms-linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   background: linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   -svg-background: linear-gradient(top, #4E5C5F 0, #404C4F 50%, #30393B 50%, #3C4749 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #345056;
   margin:0 auto;
   width:20px;
   height:20px;
}
label.blue_rave-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 20px;
   display: inline-block;
}

.blue_rave-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.blue_rave-radiobutton.active:before
{
   background: #59B1C5;
   background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -webkit-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -moz-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -o-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: -ms-linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   -svg-background: linear-gradient(top, #73BDCE 0, #60B4C7 50%, #46A8BE 50%, #59B1C5 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #65787B;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

label.blue_rave-radiobutton.hovered:before
{
   background: #5A8B96;
   background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -webkit-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -moz-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -o-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: -ms-linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   -svg-background: linear-gradient(top, #6C9CA7 0, #60949F 40%, #5E919C 50%, #507C86 50%, #5A8B96 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #65787B;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

.blue_rave-post
{
   padding:5px;
   margin:5px;
}
a img
{
   border: 0;
}

.blue_rave-article img, img.blue_rave-article, .blue_rave-block img, .blue_rave-footer img
{
   border: 1px solid #65787B;
   margin: 7px 7px 7px 7px;
}

.blue_rave-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.blue_rave-article table, table.blue_rave-article
{
   border-collapse: collapse;
   margin: 1px;
}

.blue_rave-post .blue_rave-content-layout-br
{
   height: 0;
}

.blue_rave-article th, .blue_rave-article td
{
   padding: 2px;
   border: dashed 1px #65787B;
   vertical-align: top;
   text-align: left;
}

.blue_rave-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.blue_rave-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.blue_rave-postmetadataheader
{
   background: #65787B;
   background: rgba(101, 120, 123, 0.8);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
   margin-bottom: 5px;
}

.blue_rave-postheader
{
   color: #D9E5E8;
   margin: 6px 0;
   font-size: 26px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
}

.blue_rave-postheader a, 
.blue_rave-postheader a:link, 
.blue_rave-postheader a:visited,
.blue_rave-postheader a.visited,
.blue_rave-postheader a:hover,
.blue_rave-postheader a.hovered
{
   font-size: 26px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
}

.blue_rave-postheader a, .blue_rave-postheader a:link
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   text-align: left;
   color: #D1E5C3;
}

.blue_rave-postheader a:visited, .blue_rave-postheader a.visited
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   color: #F7F8F8;
}

.blue_rave-postheader a:hover,  .blue_rave-postheader a.hovered
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   color: #D1E5C3;
}

.blue_rave-postheadericons,
.blue_rave-postheadericons a,
.blue_rave-postheadericons a:link,
.blue_rave-postheadericons a:visited,
.blue_rave-postheadericons a:hover
{
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #DFEAEC;
}

.blue_rave-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.blue_rave-postheadericons a, .blue_rave-postheadericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #8C9DA1;
}

.blue_rave-postheadericons a:visited, .blue_rave-postheadericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #B9C4C6;
}

.blue_rave-postheadericons a:hover, .blue_rave-postheadericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   color: #BBD8A6;
}

.blue_rave-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .blue_rave-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .blue_rave-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .blue_rave-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .blue_rave-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .blue_rave-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .blue_rave-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postcontent ul>li:before,  .blue_rave-post ul>li:before,  .blue_rave-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .blue_rave-postcontent ul>li:before, .opera   .blue_rave-post ul>li:before, .opera   .blue_rave-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-postcontent li, .blue_rave-post li, .blue_rave-textblock li
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #D5DBDD;
   margin: 5px 0 5px 13px;
}

.blue_rave-postcontent ul>li, .blue_rave-post ul>li, .blue_rave-textblock ul>li, .blue_rave-postcontent ol, .blue_rave-post ol, .blue_rave-textblock ol
{
   padding: 0;
}

.blue_rave-postcontent ul>li, .blue_rave-post ul>li, .blue_rave-textblock ul>li
{
   padding-left: 12px;
}

.blue_rave-postcontent ul>li:before,  .blue_rave-post ul>li:before,  .blue_rave-textblock ul>li:before
{
   margin-left: -12px;
}

.blue_rave-postcontent ol, .blue_rave-post ol, .blue_rave-textblock ol, .blue_rave-postcontent ul, .blue_rave-post ul, .blue_rave-textblock ul
{
   margin: 1em 0 1em 13px;
}

.blue_rave-postcontent li ol, .blue_rave-post li ol, .blue_rave-textblock li ol, .blue_rave-postcontent li ul, .blue_rave-post li ul, .blue_rave-textblock li ul
{
   margin: 0.5em 0 0.5em 13px;
}

.blue_rave-postcontent li, .blue_rave-post li, .blue_rave-textblock li
{
   margin: 5px 0 5px 0;
}

.blue_rave-postcontent ol>li, .blue_rave-post ol>li, .blue_rave-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.blue_rave-postcontent ul>li, .blue_rave-post ul>li, .blue_rave-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #5A8B96 url('images/postquote.png') no-repeat scroll;
   border:1px dashed #345056;
   padding:10px 10px 10px 43px;
   margin:0 0 0 10px;
   color: #06090A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .blue_rave-postcontent blockquote a, .blue_rave-blockcontent blockquote a, .blue_rave-footer blockquote a,
blockquote a:link, .blue_rave-postcontent blockquote a:link, .blue_rave-blockcontent blockquote a:link, .blue_rave-footer blockquote a:link,
blockquote a:visited, .blue_rave-postcontent blockquote a:visited, .blue_rave-blockcontent blockquote a:visited, .blue_rave-footer blockquote a:visited,
blockquote a:hover, .blue_rave-postcontent blockquote a:hover, .blue_rave-blockcontent blockquote a:hover, .blue_rave-footer blockquote a:hover
{
   color: #06090A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
}

/* Override native 'p' margins*/
blockquote p,
.blue_rave-postcontent blockquote p,
.blue_rave-blockcontent blockquote p,
.blue_rave-footer blockquote p
{
   margin: 0;
}

.blue_rave-footer
{
   background: #272E30;
   border-top:1px solid #94A5A8;
   margin:10px auto 0;
   position: relative;
   color: #A8B5B8;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.blue_rave-footer a,
.blue_rave-footer a:link,
.blue_rave-footer a:visited,
.blue_rave-footer a:hover,
.blue_rave-footer td, 
.blue_rave-footer th,
.blue_rave-footer caption
{
   color: #A8B5B8;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.blue_rave-footer p 
{
   padding:0;
   text-align: center;
}

.blue_rave-footer a,
.blue_rave-footer a:link
{
   color: #54828C;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.blue_rave-footer a:visited
{
   color: #A0AEB1;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.blue_rave-footer a:hover
{
   color: #59B1C5;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.blue_rave-footer img
{
   margin: 7px;
}

.blue_rave-footer-inner
{
   margin: 0 auto;
   width:960px;
   padding:20px;
   padding-right: 20px;
   padding-left: 20px;
}

.blue_rave-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.blue_rave-rss-tag-icon:empty
{
   vertical-align: middle;
}

.blue_rave-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -14px;
}
.opera .blue_rave-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.blue_rave-footer li
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #A8B5B8;
}

.blue_rave-footer ul>li, .blue_rave-footer ol
{
   padding: 0;
}

.blue_rave-footer ul>li
{
   padding-left: 14px;
}

.blue_rave-page-footer, 
.blue_rave-page-footer a,
.blue_rave-page-footer a:link,
.blue_rave-page-footer a:visited,
.blue_rave-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #E3E7E8;
}

.blue_rave-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #AEBABC;
}

img.blue_rave-lightbox
{
   cursor: pointer;
}

#blue_rave-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#blue_rave-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.blue_rave-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.blue_rave-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.blue_rave-content-layout .blue_rave-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
