.widget-liquid-right div.widget[id*=_dw_tabs],
.widget-liquid-right div.widget[id*=_dw_accordions] {
  overflow: visible;
  border: none;
  background: none;
}

.widget-liquid-right div.widget[id*=_dw_tabs] > .widget-top,
.widget-liquid-right div.widget[id*=_dw_accordions] > .widget-top {
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff inset;
}

.widget-liquid-right div.widget[id*=_dw_tabs] > .widget-inside,
.widget-liquid-right div.widget[id*=_dw_accordions] > .widget-inside {
  margin: 10px -10px 0 -9px;
  padding: 7px 7px 7px;
  border: 2px dashed #DFDFDF;
}

.widget-liquid-right div.widget[id*=_dw_tabs] .dw-widget-extends > .description,
.widget-liquid-right div.widget[id*=_dw_accordions] .dw-widget-extends > .description {
  margin: 10px 0 20px;
  text-align: center;
}

.widget-liquid-right div.widget[id*=_dw_tabs] .widget .widget-control-actions .alignright,
.widget-liquid-right div.widget[id*=_dw_accordions] .widget .widget-control-actions .alignright {
  display: none;
}