a.round
{
	behavior: url(js/PIE.htc);
	position: relative;
}

.type {
	behavior: url(js/PIE.htc);
}


#form .invalid .error-message, #form .empty .empty-message {
	display: block;
}

#form .error-message, #form .empty-message {
	display: none;
}


.socials a:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}