/* IE 8 hacks --------------------------------------- */

.portfolio-pager li.last-child{
	background-position: -142px -343px;
}

.gallery-pager li.last-child{
	background-position: -142px -343px;
	text-indent: -9000px;
}

.gallery-pager li.last-child:hover{
	background-position: -249px -343px;
}