#ishu-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.ishu-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.ishu-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #FA681E;
   -webkit-border-radius:11px;
   -moz-border-radius:11px;
   border-radius:11px;
   padding:0 20px;
   margin:0 auto;
   height:30px;
}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.ishu-postcontent,
.ishu-postheadericons,
.ishu-postfootericons,
.ishu-blockcontent,
ul.ishu-vmenu a 
{
   text-align: left;
}

.ishu-postcontent,
.ishu-postcontent li,
.ishu-postcontent table,
.ishu-postcontent a,
.ishu-postcontent a:link,
.ishu-postcontent a:visited,
.ishu-postcontent a.visited,
.ishu-postcontent a:hover,
.ishu-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.ishu-postcontent p
{
   margin: 13px 0;
}

.ishu-postcontent h1, .ishu-postcontent h1 a, .ishu-postcontent h1 a:link, .ishu-postcontent h1 a:visited, .ishu-postcontent h1 a:hover,
.ishu-postcontent h2, .ishu-postcontent h2 a, .ishu-postcontent h2 a:link, .ishu-postcontent h2 a:visited, .ishu-postcontent h2 a:hover,
.ishu-postcontent h3, .ishu-postcontent h3 a, .ishu-postcontent h3 a:link, .ishu-postcontent h3 a:visited, .ishu-postcontent h3 a:hover,
.ishu-postcontent h4, .ishu-postcontent h4 a, .ishu-postcontent h4 a:link, .ishu-postcontent h4 a:visited, .ishu-postcontent h4 a:hover,
.ishu-postcontent h5, .ishu-postcontent h5 a, .ishu-postcontent h5 a:link, .ishu-postcontent h5 a:visited, .ishu-postcontent h5 a:hover,
.ishu-postcontent h6, .ishu-postcontent h6 a, .ishu-postcontent h6 a:link, .ishu-postcontent h6 a:visited, .ishu-postcontent h6 a:hover,
.ishu-blockheader .t, .ishu-blockheader .t a, .ishu-blockheader .t a:link, .ishu-blockheader .t a:visited, .ishu-blockheader .t a:hover,
.ishu-vmenublockheader .t, .ishu-vmenublockheader .t a, .ishu-vmenublockheader .t a:link, .ishu-vmenublockheader .t a:visited, .ishu-vmenublockheader .t a:hover,
.ishu-headline, .ishu-headline a, .ishu-headline a:link, .ishu-headline a:visited, .ishu-headline a:hover,
.ishu-slogan, .ishu-slogan a, .ishu-slogan a:link, .ishu-slogan a:visited, .ishu-slogan a:hover,
.ishu-postheader, .ishu-postheader a, .ishu-postheader a:link, .ishu-postheader a:visited, .ishu-postheader a:hover
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.ishu-postcontent a, .ishu-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FA5705;
}

.ishu-postcontent a:visited, .ishu-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #839BB4;
}

.ishu-postcontent  a:hover, .ishu-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #FB7C3C;
}

.ishu-postcontent h1
{
   color: #6C7F93;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h1 a, .ishu-postcontent h1 a:link, .ishu-postcontent h1 a:hover, .ishu-postcontent h1 a:visited, .ishu-blockcontent h1 a, .ishu-blockcontent h1 a:link, .ishu-blockcontent h1 a:hover, .ishu-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h2
{
   color: #8D9CAA;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h2 a, .ishu-postcontent h2 a:link, .ishu-postcontent h2 a:hover, .ishu-postcontent h2 a:visited, .ishu-blockcontent h2 a, .ishu-blockcontent h2 a:link, .ishu-blockcontent h2 a:hover, .ishu-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h3
{
   color: #FB7C3C;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h3 a, .ishu-postcontent h3 a:link, .ishu-postcontent h3 a:hover, .ishu-postcontent h3 a:visited, .ishu-blockcontent h3 a, .ishu-blockcontent h3 a:link, .ishu-blockcontent h3 a:hover, .ishu-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h4
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h4 a, .ishu-postcontent h4 a:link, .ishu-postcontent h4 a:hover, .ishu-postcontent h4 a:visited, .ishu-blockcontent h4 a, .ishu-blockcontent h4 a:link, .ishu-blockcontent h4 a:hover, .ishu-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h5
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h5 a, .ishu-postcontent h5 a:link, .ishu-postcontent h5 a:hover, .ishu-postcontent h5 a:visited, .ishu-blockcontent h5 a, .ishu-blockcontent h5 a:link, .ishu-blockcontent h5 a:hover, .ishu-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h6
{
   color: #A6B7C9;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-postcontent h6 a, .ishu-postcontent h6 a:link, .ishu-postcontent h6 a:hover, .ishu-postcontent h6 a:visited, .ishu-blockcontent h6 a, .ishu-blockcontent h6 a:link, .ishu-blockcontent h6 a:hover, .ishu-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #ishu-hmenu-bg, .ishu-sheet, .ishu-hmenu a, .ishu-vmenu a, .ishu-slidenavigator > a, .ishu-checkbox:before, .ishu-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #ishu-hmenu-bg, .ishu-sheet, .ishu-slidenavigator > a, .ishu-checkbox:before, .ishu-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #303F50;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .ishu-postcontent li h1, .ishu-blockcontent li h1 
{
   margin:1px;
} 
li h2, .ishu-postcontent li h2, .ishu-blockcontent li h2 
{
   margin:1px;
} 
li h3, .ishu-postcontent li h3, .ishu-blockcontent li h3 
{
   margin:1px;
} 
li h4, .ishu-postcontent li h4, .ishu-blockcontent li h4 
{
   margin:1px;
} 
li h5, .ishu-postcontent li h5, .ishu-blockcontent li h5 
{
   margin:1px;
} 
li h6, .ishu-postcontent li h6, .ishu-blockcontent li h6 
{
   margin:1px;
} 
li p, .ishu-postcontent li p, .ishu-blockcontent li p 
{
   margin:1px;
}


.ishu-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.ishu-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.ishu-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.ishu-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.ishu-object1081048754 h1, 
.ishu-object1081048754 h2, 
.ishu-object1081048754 h3, 
.ishu-object1081048754 h4, 
.ishu-object1081048754 h5, 
.ishu-object1081048754 h6, 
.ishu-object1081048754 p, 
.ishu-object1081048754 a, 
.ishu-object1081048754 ul, 
.ishu-object1081048754 ol, 
.ishu-object1081048754 li
{
  line-height: 125%;
}

.ishu-object1081048754
{  
  position: absolute;
  top: -1px;
  left: 5.96%;
  margin-left: -10px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    z-index: 0;
  width: 171px;
  height: 216px;
}

.ishu-object1081048754-text
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: left;
vertical-align: middle;
  color: #272E35 !important;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  word-wrap: break-word;
  height: 216px;
  width: 171px;  
}

.ishu-textblock ul > li
{
    background-position-y: 8px !important;
}
.ishu-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 107px;
  left: 8.47%;
  line-height: 100%;
  margin-left: -10px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.ishu-headline, 
.ishu-headline a, 
.ishu-headline a:link, 
.ishu-headline a:visited, 
.ishu-headline a:hover
{
font-size: 48px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #2B333B !important;
  white-space: nowrap;
}






#ishu-header-bg
{
   position: absolute;
   overflow:hidden;
   left:0;
   margin:0 auto;
   width: 100%;
   height: 250px;
   z-index: auto;
   background-position: center top;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
}

#ishu-hmenu-bg
{
   position: absolute;
   overflow: hidden;
   left: 0;
   margin: 0 auto;
   width: 100%;
   z-index: auto;
}

.ishu-sheet
{
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 960px;
   z-index: auto !important;
}

.ishu-header
{
   margin:0 auto;
   height: 250px;
   background-image: url('images/object1081048754.png'), url('images/header.jpg');
   background-position: 47px -1px, center top;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .ishu-header 
{
   background-image: url('images/header.jpg');
   background-position: center center;
}

.ishu-header>.widget 
{
   position:absolute;
   z-index:101;
}

.ishu-nav
{
   border-bottom:2px solid #FA681E;
   z-index: 100;
   font-size: 0;
   position: absolute;
   margin: 0;
   bottom:   0;
   width: 100%;
}

ul.ishu-hmenu a, ul.ishu-hmenu a:link, ul.ishu-hmenu a:visited, ul.ishu-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.ishu-hmenu, ul.ishu-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.ishu-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.ishu-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.ishu-hmenu:after, ul.ishu-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.ishu-hmenu, ul.ishu-hmenu ul 
{
   min-height: 0;
}

ul.ishu-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.ishu-nav-inner:before 
{
   content:' ';
}

.ishu-nav-inner{
   text-align: right;
   margin:0 auto;
}

.desktop-nav.ishu-nav
{
   padding-left: 0;
   padding-right: 0;
}

.ishu-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.ishu-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.ishu-hmenu
{
   float: right;
}

.ishu-menuitemcontainer
{
   margin:0 auto;
}
ul.ishu-hmenu>li {
   margin-left: 11px;
}
ul.ishu-hmenu>li:first-child {
   margin-left: 5px;
}
ul.ishu-hmenu>li:last-child, ul.ishu-hmenu>li.last-child {
   margin-right: 5px;
}

ul.ishu-hmenu>li>a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 46px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 46px;
   text-align: center;
}

.ishu-hmenu a, 
.ishu-hmenu a:link, 
.ishu-hmenu a:visited, 
.ishu-hmenu a.active, 
.ishu-hmenu a:hover
{
   font-size: 22px;
   font-family: 'Arial Unicode MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.ishu-hmenu>li>a.active
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.ishu-hmenu>li>a:visited, 
ul.ishu-hmenu>li>a:hover, 
ul.ishu-hmenu>li:hover>a {
   text-decoration: none;
}

ul.ishu-hmenu>li>a:hover, .desktop ul.ishu-hmenu>li:hover>a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 17px;
   margin:0 auto;
}
ul.ishu-hmenu>li>a:hover, 
.desktop-nav ul.ishu-hmenu>li:hover>a {
   color: #FDAE87;
   text-decoration: none;
}

ul.ishu-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -11px;
   width:11px;
   height: 46px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.ishu-hmenu>li:first-child:before{
   display:none;
}

ul.ishu-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 10px;
   margin:0 auto;
}
ul.ishu-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

.desktop-nav ul.ishu-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.ishu-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.ishu-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.ishu-hmenu ul a:link, 
.ishu-hmenu ul a:visited, 
.ishu-hmenu ul a.active, 
.ishu-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.ishu-hmenu li li:after
{
   display: block;
   position: absolute;
   content: ' ';
   height: 0;
   top: -1px;
   left: 0;
   right: 0;
   z-index: 1;
   border-bottom: 1px dotted #C6D1DD;
}

.desktop-nav ul.ishu-hmenu li li:first-child:before, 
.desktop-nav ul.ishu-hmenu li li:first-child:after 
{
   display: none;
} 

ul.ishu-hmenu ul li a:hover, .desktop ul.ishu-hmenu ul li:hover>a
{
   background: #FFFFFF;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}
.ishu-hmenu ul a:hover
{
   text-decoration: none;
}

.ishu-hmenu ul li a:hover
{
   color: #F05305;
}

.desktop-nav .ishu-hmenu ul li:hover>a
{
   color: #F05305;
}

ul.ishu-hmenu ul:before
{
   background: #EFF2F5;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px dotted rgba(207, 216, 226, 0.9);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.ishu-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.ishu-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.ishu-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.ishu-hmenu>li>ul
{
   padding: 16px 36px 36px 36px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.ishu-hmenu ul ul
{
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.ishu-hmenu ul.ishu-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.ishu-hmenu ul.ishu-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.ishu-hmenu li li:hover>ul.ishu-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.ishu-hmenu li li:hover>ul.ishu-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.ishu-hmenu ul ul.ishu-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.ishu-hmenu ul ul.ishu-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 36px 18px 36px 36px;
   margin: -36px -5px 0 0;
}

.desktop-nav ul.ishu-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.ishu-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.ishu-hmenu ul ul:before
{
   border-radius: 4px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop-nav ul.ishu-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.ishu-hmenu>li>ul.ishu-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.ishu-hmenu>li>ul.ishu-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.ishu-hmenu ul ul.ishu-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop-nav ul.ishu-hmenu ul ul.ishu-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.desktop-nav ul.ishu-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop-nav ul.ishu-hmenu>li.ext>a:hover,
.desktop-nav ul.ishu-hmenu>li.ext:hover>a,
.desktop-nav ul.ishu-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 0 17px 0 17px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #F05305;
}

.desktop-nav ul.ishu-hmenu>li.ext>a:hover:before,
.desktop-nav ul.ishu-hmenu>li.ext:hover>a:before,
.desktop-nav ul.ishu-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop-nav ul.ishu-hmenu>li.ext:hover>ul 
{
   padding-top: 5px;
   /* menu bar padding */
  margin-top: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -1px;
   clip: rect(6px, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.ishu-hmenu>li.ext>.ext-r,
ul.ishu-hmenu>li.ext>.ext-l,
ul.ishu-hmenu>li.ext>.ext-m,
ul.ishu-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop-nav ul.ishu-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop-nav ul.ishu-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 6px;
   top: 100%;
   padding-top: 1px;
   margin-top: -1px;
/* border width + shadow */}

.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-r:before,
.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 1px;
   margin-right: -1px;
/* only shadow */}

.desktop-nav ul.ishu-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -1px;
   border-top-left-radius: 0;
   border-top-right-radius: 4px;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 1px;
   margin-left: -1px;
/* only shadow */}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -1px;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 4px;
}

.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-m, 
.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 5px;
   top: 100%;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-m:before, 
.desktop-nav ul.ishu-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -1px;
   bottom: -1px;
   /* shadow offset */
  background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -1px;
   left: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -1px;
   right: 0;
}

.desktop-nav ul.ishu-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -1px;
   right: -1px
;
}

.ishu-layout-wrapper
{
   position: relative;
   margin: 20px auto 0 auto;
   z-index: auto !important;
}

.ishu-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.ishu-content-layout-row 
{
   display: table-row;
}

.ishu-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.ishu-block
{
   margin:3px;
}
div.ishu-block img
{
   border: none;
   margin: 0;
}

.ishu-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.ishu-blockheader .t,
.ishu-blockheader .t a,
.ishu-blockheader .t a:link,
.ishu-blockheader .t a:visited, 
.ishu-blockheader .t a:hover
{
   color: #758799;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.ishu-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.ishu-blockcontent table,
.ishu-blockcontent li, 
.ishu-blockcontent a,
.ishu-blockcontent a:link,
.ishu-blockcontent a:visited,
.ishu-blockcontent a:hover
{
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.ishu-blockcontent p
{
   margin: 0 5px;
}

.ishu-blockcontent a, .ishu-blockcontent a:link
{
   color: #FB7C3C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.ishu-blockcontent a:visited, .ishu-blockcontent a.visited
{
   color: #A9BACB;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.ishu-blockcontent a:hover, .ishu-blockcontent a.hover
{
   color: #FA5705;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.ishu-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .ishu-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #4E6883;
   margin: 5px 0 0 10px;
}

.ishu-block ul>li, .ishu-block ol
{
   padding: 0;
}

.ishu-block ul>li
{
   padding-left: 12px;
}

.ishu-breadcrumbs
{
   margin:0 auto;
}

a.ishu-button,
a.ishu-button:link,
a:link.ishu-button:link,
body a.ishu-button:link,
a.ishu-button:visited,
body a.ishu-button:visited,
input.ishu-button,
button.ishu-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFCFA;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 30px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.ishu-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .ishu-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.ishu-block select 
{
   width:96%;
}

input.ishu-button
{
   float: none !important;
}

.ishu-button.active, .ishu-button.active:hover
{
   background: #A1ADBA;
   -webkit-border-radius:11px;
   -moz-border-radius:11px;
   border-radius:11px;
   padding:0 20px;
   margin:0 auto;
}
.ishu-button.active, .ishu-button.active:hover {
   color: #FFFFFF !important;
}

.ishu-button.hover, .ishu-button:hover
{
   background: #FA681E;
   -webkit-border-radius:11px;
   -moz-border-radius:11px;
   border-radius:11px;
   padding:0 20px;
   margin:0 auto;
}
.ishu-button.hover, .ishu-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:15px;
   -moz-border-radius:15px;
   border-radius:15px;
   border:2px dotted #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.ishu-error, textarea.ishu-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.ishu-error, textarea.ishu-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.ishu-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #7D2B03 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.ishu-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.ishu-search input
{
   top:0;
   right:0;
}

form.ishu-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.ishu-search input[type="submit"]
{
   margin:0 auto;
   color: #FFFFFF !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.ishu-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.ishu-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.ishu-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.ishu-checkbox.active:before
{
   background: #FC905A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.ishu-checkbox.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.ishu-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.ishu-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.ishu-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.ishu-radiobutton.active:before
{
   background: #B9C2CB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.ishu-radiobutton.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.ishu-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.ishu-article img, img.ishu-article, .ishu-block img, .ishu-footer img
{
   margin: 7px 7px 7px 7px;
}

.ishu-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.ishu-article table, table.ishu-article
{
   border-collapse: collapse;
   margin: 1px;
}

.ishu-post .ishu-content-layout-br
{
   height: 0;
}

.ishu-article th, .ishu-article td
{
   padding: 2px;
   border: solid 1px #5A7796;
   vertical-align: top;
   text-align: left;
}

.ishu-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.ishu-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.ishu-postheader
{
   color: #4E6883;
   margin: 5px 10px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.ishu-postheader a, 
.ishu-postheader a:link, 
.ishu-postheader a:visited,
.ishu-postheader a.visited,
.ishu-postheader a:hover,
.ishu-postheader a.hovered
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.ishu-postheader a, .ishu-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7F41;
}

.ishu-postheader a:visited, .ishu-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #708BA9;
}

.ishu-postheader a:hover,  .ishu-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7C3C;
}

.ishu-postheadericons,
.ishu-postheadericons a,
.ishu-postheadericons a:link,
.ishu-postheadericons a:visited,
.ishu-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4E6883;
}

.ishu-postheadericons
{
   display:inline-block;
   padding: 1px;
   margin: 0 0 0 10px;
}

.ishu-postheadericons a, .ishu-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FB722D;
}

.ishu-postheadericons a:visited, .ishu-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #587493;
}

.ishu-postheadericons a:hover, .ishu-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #E65005;
}

.ishu-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ishu-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .ishu-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ishu-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-postcontent ul>li:before,  .ishu-post ul>li:before,  .ishu-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .ishu-postcontent ul>li:before, .opera   .ishu-post ul>li:before, .opera   .ishu-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-postcontent li, .ishu-post li, .ishu-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.ishu-postcontent ul>li, .ishu-post ul>li, .ishu-textblock ul>li, .ishu-postcontent ol, .ishu-post ol, .ishu-textblock ol
{
   padding: 0;
}

.ishu-postcontent ul>li, .ishu-post ul>li, .ishu-textblock ul>li
{
   padding-left: 17px;
}

.ishu-postcontent ul>li:before,  .ishu-post ul>li:before,  .ishu-textblock ul>li:before
{
   margin-left: -17px;
}

.ishu-postcontent ol, .ishu-post ol, .ishu-textblock ol, .ishu-postcontent ul, .ishu-post ul, .ishu-textblock ul
{
   margin: 1em 0 1em 11px;
}

.ishu-postcontent li ol, .ishu-post li ol, .ishu-textblock li ol, .ishu-postcontent li ul, .ishu-post li ul, .ishu-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.ishu-postcontent li, .ishu-post li, .ishu-textblock li
{
   margin: 3px 0 0 0;
}

.ishu-postcontent ol>li, .ishu-post ol>li, .ishu-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.ishu-postcontent ul>li, .ishu-post ul>li, .ishu-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EFF2F5 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .ishu-postcontent blockquote a, .ishu-blockcontent blockquote a, .ishu-footer blockquote a,
blockquote a:link, .ishu-postcontent blockquote a:link, .ishu-blockcontent blockquote a:link, .ishu-footer blockquote a:link,
blockquote a:visited, .ishu-postcontent blockquote a:visited, .ishu-blockcontent blockquote a:visited, .ishu-footer blockquote a:visited,
blockquote a:hover, .ishu-postcontent blockquote a:hover, .ishu-blockcontent blockquote a:hover, .ishu-footer blockquote a:hover
{
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.ishu-postcontent blockquote p,
.ishu-blockcontent blockquote p,
.ishu-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.ishu-footer
{
   background: #000000;
   margin:20px auto 0;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
}

.ishu-footer a,
.ishu-footer a:link,
.ishu-footer a:visited,
.ishu-footer a:hover,
.ishu-footer td, 
.ishu-footer th,
.ishu-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.ishu-footer p 
{
   padding:0;
   text-align: center;
}

.ishu-footer a,
.ishu-footer a:link
{
   color: #839BB4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.ishu-footer a:visited
{
   color: #607E9F;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.ishu-footer a:hover
{
   color: #FB7C3C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.ishu-footer img
{
   border: none;
   margin: 0;
}

.ishu-footer-inner
{
   margin: 0 auto;
   width:960px;
   padding:25px;
   padding-right: 25px;
   padding-left: 25px;
}

.ishu-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.ishu-rss-tag-icon:empty
{
   vertical-align: middle;
}

.ishu-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .ishu-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.ishu-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FDC6AA;
}

.ishu-footer ul>li, .ishu-footer ol
{
   padding: 0;
}

.ishu-footer ul>li
{
   padding-left: 13px;
}

.ishu-page-footer, 
.ishu-page-footer a,
.ishu-page-footer a:link,
.ishu-page-footer a:visited,
.ishu-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #B9C2CB;
}

.ishu-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #8FA5BC;
}

img.ishu-lightbox
{
   cursor: pointer;
}

#ishu-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#ishu-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.ishu-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.ishu-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.ishu-content-layout .ishu-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
