#container{
width:1000px;
margin:0px auto;
}

/* Columns shortcode
----------------------------------------------------------------------------------------------------*/
.fullwidth {
	width:100%;
	float:left;
	margin-bottom:20px;
}
.one_half {
	width:48.10%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;
}
.one_half_last {
	width:48.10%;
	float:right;
	margin-bottom:20px;
}
.one_third {
	width:30.80%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;
}

.one_third_last {
	width:30.80%;
	float:right;
	margin-bottom:20px;

}
.two_third {
	width:65.40%;
	float:left;
	margin-right:3.80%;
}
.two_third_last {
	width:65.40%;
	float:right;
	margin-bottom:20px;

}
.one_fourth {
	width:22.15%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;

}
.one_fourth_last {
	width:22.15%;
	float:right;
	margin-bottom:20px;
}
.three_fourth {
	width:74.05%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;
}
.three_fourth_last {
	width:74.05%;
	float:right;
	margin-bottom:20px;
}
.one_fifth {
	width:16.96%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;
}
.one_fifth_last {
	width:16.96%;
	float:right;
	margin-bottom:20px;
}
.four_fifth {
	width:79.240%;
	float:left;
	margin-right:3.80%;
	margin-bottom:20px;
}
.four_fifth_last {
	width:79.240%;
	float:right;
	margin-bottom:20px;
}
* html .clearfix {
} /* IE6 */
*:first-child+html .clearfix {
} /* IE7 */
/* clearfix */

.clear {
	clear:both;
	display:block;
	height:0px;
	width:100%;
	visibility:hidden;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

