.widget_container h3{
padding-bottom:25px;
}

.widget_container h4{
color:#282724;
padding-bottom:10px;
}

.widget_container ul{
list-style:none;
}

.widget_container ul li{
padding-bottom:10px;
margin-bottom:10px;
overflow:hidden;

}

.widget_container span{
color:#ff6c00;
}

.content_wide .widget_container h4:hover{
color:#ff6c00;
cursor:pointer;
}


footer .widget_container h4{
color:#fff;
background-image:url(../images/border_bottom.png);
background-repeat:repeat-x;
background-position:bottom center;
padding-bottom:10px;
margin-bottom:10px;
} 

footer .widget_container span{
color:#ff6c00;
}


.flickr_widget img{
float:left;
margin:0px 4px 4px 0px;
}

.widget_archives li{
border-bottom:1px solid #E4DFD6;
background-image:url(../images/list_icon.png);
background-repeat:no-repeat;
background-position:left 1px;
padding-left:25px;
}

aside .widget_container{
margin-bottom:30px;
clear:both;
overflow:hidden;
padding-top:3px;
}
aside .widget_container ul li{
padding-bottom:10px;
margin-bottom:10px;
clear:both;
}
aside .widget_container li{
border-bottom:1px solid #E4DFD6;
background-image:url(../images/list_icon.png);
background-repeat:no-repeat;
background-position:left 1px;
padding-left:25px;
}
