/*
Design by Free Responsive Templates
http://www.free-responsive-templates.com
Released for free under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0)
*/ 
* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Karla', serif;
	font-size:16px;
	color: #464646;
	text-shadow:0 0px, 1px 1px #ffffff;
	background: url(../images/siteBackground.jpg);	
}
a img { 
	border: none;
}
a:link {
	color: #1859a8;
	text-decoration: underline; 
}
a:visited {
	color: #1859a8;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	color: #1859a8;
	text-decoration: none;
}
.logoContainer {
	float:left;
	width:410px;
}
.logo {
	float:left;
	padding-right:10px;
}
.logo a {
	font-size:60px;
	color:#1f1f1d;
	font-family: 'Yesteryear', sans-serif;
	text-shadow: 0px 0px, 1px 2px #ffffff;
	text-decoration:none;
}
.slogan {
	font-style:italic;
	padding:42px 0 0 0;
}
h1 {
	font-size:30px;
	color:#2e3140;
	font-family: 'Salsa', sans-serif;
	padding: 0 0 10px 0;
	text-shadow: 0px 0px, 1px 2px #ffffff;
	font-weight:inherit;
}
h2 {
	font-size:30px;
	color:#2e3140;
	font-family: 'Salsa', sans-serif;
	padding: 0 0 10px 0;
	text-shadow: 0px 0px, 1px 2px #ffffff;
	font-weight:inherit;
}
h3 {
	font-size:30px;
	color:#2e3140;
	font-family: 'Salsa', sans-serif;
	padding: 0 0 10px 0;
	text-shadow: 0px 0px, 1px 2px #ffffff;
	font-weight:inherit;
	text-transform:uppercase;
}
p {
	line-height:140%;
}
.sliderSlogan {
	text-align:center;
	padding-top:20px;
}
.wrapper {
	width:960px;
	margin:0 auto;
	padding-bottom:50px;
}
.pageTitle {
	background:#040707;
	padding:7px;
}
.homeTitle {
	display:none;
}
footer {
	background:#333333;
}
footer h3, .pageTitle h3 {
	color:#d5d3d9;
	text-shadow:0 0px, 1px 1px #040707;
	text-transform:none;
}
.footerTop {
	color:#d5d3d9;
	text-shadow:0 0px, 1px 1px #040707;
	width:960px;
	margin:0 auto;
	padding:20px 0;
}
.footerTop a {
	color:#4d89d1;
	text-decoration:none;
}
.footerTop a:hover {
	color:#4d89d1;
	text-decoration:underline;
}
.boxes {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	border:1px solid #b4b4b4;
	margin-top:10px;
}
.box {
	float: left;
    list-style: none outside none;
    margin: 20px 0;
    width: 240px;
	padding:0 35px;
}
.box p {
	margin-bottom:20px;
}
.button a {
	text-transform:uppercase;
	font-size:16px;
	color:#ffffff;
	font-family: 'Salsa', sans-serif;
	padding: 7px 20px;
	font-weight:inherit;
	background:#1859a8;
	text-shadow:none;
	text-decoration:none;
}
.buttonRight {
	float:right;
}
.button a:hover {
	background:#3779c9;
}
.boxSeparator {
	border-left:1px solid #b4b4b4;
	border-right:1px solid #b4b4b4;
}
.welcome {
	padding-top:20px;
}
.sidebar {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	border:1px solid #b4b4b4;
}
.sidebar h2 {
	padding:20px;
}
.sidebar ul {
	padding:0 20px 30px 20px;
}
.sidebar p {
	padding:0 20px 20px 20px;
}
.horSeparator {
	border-bottom: 1px solid #b4b4b4;
    box-shadow: 0 1px #fdfdfd;
	padding:10px 0;
}
.portfolioContent {
	padding:10px 0;
}
.post {
	padding-bottom:70px;
}
.post span {
	font-style:italic;
}
.post h2 {
	padding:10px 0;
}
.post .postContent {
	padding:10px 0 20px 0;
}
.about h2 {
	padding-top:10px;
}
.latestNews, .sidebar, .contactForm {
	margin-top:20px;
}
.latestNews li, sidebar li {
	border-bottom: 1px solid #b4b4b4;
    box-shadow: 0 1px #fdfdfd;
    list-style: none outside none;
    margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}
.latestNews li span {
	color:#8b8b8b;
	font-style:italic;
}
.services {
	padding-top:20px;
}
.serviceBox {
	width:205px;
	padding:0 35px 0 0;
	float:left;
}
.greyList li {
	border-bottom: 1px solid #b4b4b4;
    box-shadow: 0 1px #fdfdfd;
    list-style: none;
    margin: 0 0 10px 0;
	padding: 0 0 10px 12px;
	background:url(../images/p.png) no-repeat left 5px;
}
.greyList a {
	color:#464646;
	text-decoration:none;
}
.greyList a:hover {
	color:#464646;
	text-decoration: underline;
}
.about, .welcome {
	float:left;
	width:515px;
}
.leftPic {
	float:left;
	margin-right:20px;
}
.tweetsUpdates, .latestNews, .sidebar, .contactForm {
	float:right;
	width:366px;
}
.tweetsUpdates li {
	background:url(../images/twitter.png) no-repeat left top;
	list-style:none;
	padding:0 0 30px 30px;
}
.portfolio p, .contact p {
	padding:20px 0;
}
.portfolio li {
	float:left;
	padding:7px;
	list-style:none;
}
.portfolio2 {
	display:none;
}
.inputContact, .textareaContact {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border: 1px solid #B4B4B4;
	width:340px;
	height:30px;
	margin-bottom:4px;
	font-family: 'Karla', serif;
	font-size:16px;
	color: #464646;
	text-shadow:0 0px, 1px 1px #ffffff;
}
.textareaContact {
	height:200px;
	margin-bottom:20px;
}
.footerBottom {
	background:#040707;	
	color:#8b8b8b;
	text-shadow: none;
	text-align: center;
}
.footerBottom p {
	padding:30px 0;
}
.footerBottom a {
	color:#4d89d1;
	text-decoration:underline;
}
.footerBottom a:hover {
	color:#4d89d1;
	text-decoration:none;
}
.picBorder {
	border:1px solid #b4b4b4;
	background:#ffffff;
	padding:5px;
}
.picBorderGallery {
	border:1px solid #b4b4b4;
	background:#ffffff;
	padding:5px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.map {
	width:515px;
	height:350px;
}
/**************************/
/*********************************Begin slider****************************************/
/**************************/
#slideshow{
	height:444px;
	margin:15px auto 0;
	position:relative;
	width:960px;
	box-shadow:0 0 5px #111;
}
#slideshow ul{
	height:444px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	width:960px;
}
#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}
#slideshow li:first-child{
	display:block;
	z-index:1000;
}
#slideshow .slideActive{
	z-index:1000;
}
#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}
#slideshow .arrow{
	height:46px;
	width:55px;
	position:absolute;
	background:url(../images/arrows.png) no-repeat;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
	z-index:5000;
}
#slideshow .previous{ 
	background-position:left top;left:0;
}
#slideshow .previous:hover{ 
	background-position:left bottom;
}
#slideshow .next{ 
	background-position:right top;right:0;
}
#slideshow .next:hover{ 
	background-position:right bottom;
}
/**************************/
/*********************************End slider****************************************/
/**************************/
/*********************************Begin main menu****************************************/
/**************************/
nav {
	float:right;
	padding:40px 0 0 0;
}
ul#navlist {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}
#navlist li {
	display: inline;
	list-style-type: none;
}
#navlist a { 
	padding: 5px 15px;
	font-size:18px;
}
#navlist a:link, #navlist a:visited {
	color: #464646;
	text-decoration: none;
}
#navlist a:hover {
	color: #d5d3d9;
	text-shadow:none;
	background-color: #040707;
	text-decoration: none;

}
#navlist #active a {
	color: #d5d3d9;
	text-shadow:none;
	background-color: #040707;
	text-decoration: none;
	font-weight:bold;
}
/**************************/
/*********************************End main menu****************************************/
/**************************/
/*********************************Begin Media Queries****************************************/
/**************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	.wrapper {
		width: 95%;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.logoContainer {
		float: none;
		width: auto;
		text-align:center;
	}
	.logo {
		float:none;
		padding-right:0;
	}
	.slogan {
		padding:0;	
	}
	nav {
		float:none;
		padding:20px 0 0 0;
		text-align:center;
	}
	.homeTitle {
		display: block;
	}
	#slideshow{
		display:none;
	}
	.sliderSlogan {
		display:none;
	}
	.boxes {
		margin-top:10px;
	}
	.box {
		float: none;
		margin: 0;
		width: auto;
		padding:40px 15px;
	}
	.boxSeparator {
		border-top:1px solid #b4b4b4;
		border-bottom:1px solid #b4b4b4;
		border-left:none;
		border-right:none;
	}
	.about, .welcome {
		float: none;
		width: auto;
	}
	.tweetsUpdates, .latestNews, .sidebar, .contactForm {
		float: none;
		width: auto;
	}
	.serviceBox {
		width: auto;
		padding:0 0 0 0;
		float: none;
	}
	.footerTop {
		padding:20px;
		width:auto;
	}
	.tweetsUpdates {
		padding-top:20px;
	}
	.footerBottom {
		padding:0 20px;
	}
	.fixedPic {
		width:518px;
	}
	.inputContact, .textareaContact {
		width:370px;
	} 
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	.fixedPic {
		width: auto;
	}
	.portfolio li {
		float:none;
		padding:1px;
		list-style:none;
	}
	.inputContact, .textareaContact {
		width:290px;
	} 
	.map {
		width:290px;
		height:350px;
	}
	.portfolio {
		display:none;
	}
	.portfolio2 {
		display:block;
	}
	.portfolio2 li {
		list-style:none;
		width:190px;
		height:170px;
		float:left;
		padding:7px;
		text-align:center;
	}
	.portfolio2 p {
		padding:10px 0;
	}
	.portfoli2 ul {
		text-align:center;
		width:auto;
	}
	nav {
		float:none;
		text-align:center;
		padding:0px 0 0 0;
	}
	#navlist li {
		display: block;
		padding:6px 0;
	}
	.serviceBox {
		padding:0;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
/**************************/
/*********************************End Media Queries****************************************/
/**************************/