*+html{overflow:auto;}
.social-list, .quote-1, .box-1, .box-1 .inner, .button-box, .box-2, .button, .slider-container .pic, .mp-slider, .slider-container .mask, #contact-form input, #contact-form textarea {behavior:url(js/PIE.htc);position:relative}

.sf-menu ul {behavior:url(js/PIE.htc);}
