/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* SLIDER --------------------------------------------------------- */
/*
 * jQuery Nivo Slider v3.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f3e4c8;
  color: #585246;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  opacity: 1;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}
.nivo-prevNav {
  left: 0px;
}
.nivo-nextNav {
  right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 15px 0;
}
.nivo-controlNav a {
  cursor: pointer;
}
.nivo-controlNav a.active {
  font-weight: bold;
}
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
.theme-default {
  padding: 10px;
  background: #f3e4c8;
  margin-bottom: 20px;
}
.theme-default.theme-home {
  margin-bottom: 20px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.theme-default .nivoSlider {
  position: relative;
  background: #f3e4c8 url(../img/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.theme-default .nivoSlider a {
  border: 0;
  display: block;
}
.theme-default .nivo-controlNav {
  text-align: left;
  padding: 10px 0;
}
.theme-default .nivo-controlNav a {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #ff9a78;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border-radius: 11px 11px 11px 11px;
}
.theme-default .nivo-controlNav a.active {
  background: #cb5432;
}
.theme-default .nivo-directionNav a {
  display: block;
  width: 38px;
  height: 64px;
  background: url(../img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}
.theme-default a.nivo-nextNav {
  background-position: 0px -64px;
  right: 0px;
}
.theme-default a.nivo-prevNav {
  left: 0px;
}
.theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
  color: #cb5432;
  border-bottom: 1px dotted #cb5432;
}
.theme-default .nivo-caption a:hover {
  color: #cb5432;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}
